*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  border-radius: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#app .top {
  background-color: #444;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
#app .bottom {
  background-color: #37d493;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
#app .flip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#app .flip .front,
#app .flip .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-animation: elastic 5s ease-in-out infinite;
          animation: elastic 5s ease-in-out infinite;
}
#app .flip .front {
  background-color: #37d493;
  z-index: 1;
}
#app .flip .back {
  background-color: #444;
  height: 98%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 2;
}

@-webkit-keyframes elastic {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  15% {
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  20% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  25% {
    -webkit-transform: rotateX(120deg);
            transform: rotateX(120deg);
  }
  30% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
  }
  35% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
  }
  40% {
    -webkit-transform: rotateX(83deg);
            transform: rotateX(83deg);
  }
  45% {
    -webkit-transform: rotateX(93deg);
            transform: rotateX(93deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  65% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  70% {
    -webkit-transform: rotateX(130deg);
            transform: rotateX(130deg);
  }
  75% {
    -webkit-transform: rotateX(60deg);
            transform: rotateX(60deg);
  }
  80% {
    -webkit-transform: rotateX(110deg);
            transform: rotateX(110deg);
  }
  85% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
  }
  90% {
    -webkit-transform: rotateX(97deg);
            transform: rotateX(97deg);
  }
  95% {
    -webkit-transform: rotateX(87deg);
            transform: rotateX(87deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes elastic {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  15% {
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  20% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  25% {
    -webkit-transform: rotateX(120deg);
            transform: rotateX(120deg);
  }
  30% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
  }
  35% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
  }
  40% {
    -webkit-transform: rotateX(83deg);
            transform: rotateX(83deg);
  }
  45% {
    -webkit-transform: rotateX(93deg);
            transform: rotateX(93deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  65% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  70% {
    -webkit-transform: rotateX(130deg);
            transform: rotateX(130deg);
  }
  75% {
    -webkit-transform: rotateX(60deg);
            transform: rotateX(60deg);
  }
  80% {
    -webkit-transform: rotateX(110deg);
            transform: rotateX(110deg);
  }
  85% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
  }
  90% {
    -webkit-transform: rotateX(97deg);
            transform: rotateX(97deg);
  }
  95% {
    -webkit-transform: rotateX(87deg);
            transform: rotateX(87deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}/*# sourceMappingURL=index.css.map */