@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #f5ce51;
    border-radius: 8px;
    position: relative;
}
.parasol {
    position: absolute;
    top: 8%;
    left: 13%;
    transform-style: preserve-3d;
    transform: rotateX(70deg) rotateY(-15deg);
    .pole {
        position: absolute;
        z-index: 2;
        width: 6px;
        height: 150px;
        top: 100px;
        left: 97px;
        background: #888;
        transform-origin: 50% 0;
        transform: translateZ(-1px) rotateX(-90deg);
        border-radius: 2px;
    }
    .top {
        position: relative;
        z-index: 3;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        .triangle {
            position: absolute;
            top: 100px;
            left: 77px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 24px 98px 24px;
            border-color: transparent transparent #fff transparent;
            transform-origin: 50% 0;
            &:nth-child(odd) {
                border-color: transparent transparent #d70606 transparent;
            }
            @for $i from 1 through 12 {
                $deg: (calc(360 / 12) * ($i - 1)) + deg;
                &.t#{$i} {
                    transform: rotateZ($deg) rotateX(-24deg);
                }
            }
        }
    }
}
