@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 8px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    .pic {
        position: relative;
        flex-basis: 33.33%;
        background-color: #000;
        border: 2px solid #fff;
        cursor: pointer;
        img {
            width: 100%;
            transform: scale(1);
            transition: transform 0.5s, opacity 0.5s;
        }
        &.p1 img {
            transform-origin: top left;
        }
        &.p2 img {
            transform-origin: top center;
        }
        &.p3 img {
            transform-origin: top right;
        }
        &.p4 img {
            transform-origin: center left;
        }
        &.p5 img {
            transform-origin: center center;
        }
        &.p6 img {
            transform-origin: center right;
        }
        &.p7 img {
            transform-origin: bottom left;
        }
        &.p8 img {
            transform-origin: bottom center;
        }
        &.p9 img {
            transform-origin: bottom right;
        }
        &.active {
            z-index: 2;
            img {
                transform: scale(3.0963);
                border: 0;
            }
        }
        &.away img {
            opacity: 0;
        }
    }
}