*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #3498db;
  border-radius: 8px;
  position: relative;
}
#app .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#app .circle.c1 {
  -webkit-animation: c1 5s ease-in-out infinite;
          animation: c1 5s ease-in-out infinite;
}
@-webkit-keyframes c1 {
  4% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c1 {
  4% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c2 {
  -webkit-animation: c2 5s ease-in-out infinite;
          animation: c2 5s ease-in-out infinite;
}
@-webkit-keyframes c2 {
  8% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c2 {
  8% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c3 {
  -webkit-animation: c3 5s ease-in-out infinite;
          animation: c3 5s ease-in-out infinite;
}
@-webkit-keyframes c3 {
  12% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c3 {
  12% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c4 {
  -webkit-animation: c4 5s ease-in-out infinite;
          animation: c4 5s ease-in-out infinite;
}
@-webkit-keyframes c4 {
  16% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c4 {
  16% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c5 {
  -webkit-animation: c5 5s ease-in-out infinite;
          animation: c5 5s ease-in-out infinite;
}
@-webkit-keyframes c5 {
  20% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c5 {
  20% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c6 {
  -webkit-animation: c6 5s ease-in-out infinite;
          animation: c6 5s ease-in-out infinite;
}
@-webkit-keyframes c6 {
  24% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c6 {
  24% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c7 {
  -webkit-animation: c7 5s ease-in-out infinite;
          animation: c7 5s ease-in-out infinite;
}
@-webkit-keyframes c7 {
  28% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c7 {
  28% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c8 {
  -webkit-animation: c8 5s ease-in-out infinite;
          animation: c8 5s ease-in-out infinite;
}
@-webkit-keyframes c8 {
  32% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c8 {
  32% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c9 {
  -webkit-animation: c9 5s ease-in-out infinite;
          animation: c9 5s ease-in-out infinite;
}
@-webkit-keyframes c9 {
  36% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c9 {
  36% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
#app .circle.c10 {
  -webkit-animation: c10 5s ease-in-out infinite;
          animation: c10 5s ease-in-out infinite;
}
@-webkit-keyframes c10 {
  40% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
@keyframes c10 {
  40% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
            transform: translate(-50%, -50%) rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}/*# sourceMappingURL=index.css.map */