@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #363847;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .top,
    .bottom {
        width: 240px;
        height: 106px;
        background-color: #363847;
        position: relative;
        z-index: 2;
    }
    .top {
        transform: translateY(-50px);
        animation: top 5s ease-in-out infinite;
    }
    .bottom {
        transform: translateY(50px);
        animation: bottom 5s ease-in-out infinite;
    }
}
.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 160px;
    height: 160px;
    border-radius: 160px 0;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .circle {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: ball 5s ease-in-out infinite;
    }
    .ball {
        width: 36px;
        height: 36px;
        background-color: #617983;
        border-radius: 50%;
    }
}

@keyframes ball {
    0%,
    14%,
    56% {
        transform: rotate(-45deg) translateX(0);
    }
    18%,
    30% {
        transform: rotate(-45deg) translate(-25px, 5px) scale(0.9);
    }
    34%,
    52% {
        transform: rotate(-45deg) translate(25px, 10px) scale(0.9);
    }
}
@keyframes top {
    0%,10%,18%, 26%,34%, 48%,56%, 76%, 84% {
        transform: translateY(-50px);
    }
    14%, 30%, 52%, 80% {
        transform: translateY(0);
    }
}
@keyframes bottom {
    0%,10%,18%, 26%,34%, 48%,56%, 76%, 84% {
        transform: translateY(50px);
    }
    14%, 30%, 52%, 80% {
        transform: translateY(0);
    }
}