*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #f5ce51;
  border-radius: 8px;
  position: relative;
}

.parasol {
  position: absolute;
  top: 8%;
  left: 13%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(70deg) rotateY(-15deg);
          transform: rotateX(70deg) rotateY(-15deg);
}
.parasol .top {
  position: relative;
  z-index: 3;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.parasol .top .triangle {
  position: absolute;
  top: 100px;
  left: 77px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 24px 98px 24px;
  border-color: transparent transparent #fff transparent;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.parasol .top .triangle:nth-child(odd) {
  border-color: transparent transparent #d70606 transparent;
}
.parasol .top .triangle.t1 {
  -webkit-transform: rotateZ(0deg) rotateX(-24deg);
          transform: rotateZ(0deg) rotateX(-24deg);
}
.parasol .top .triangle.t2 {
  -webkit-transform: rotateZ(30deg) rotateX(-24deg);
          transform: rotateZ(30deg) rotateX(-24deg);
}
.parasol .top .triangle.t3 {
  -webkit-transform: rotateZ(60deg) rotateX(-24deg);
          transform: rotateZ(60deg) rotateX(-24deg);
}
.parasol .top .triangle.t4 {
  -webkit-transform: rotateZ(90deg) rotateX(-24deg);
          transform: rotateZ(90deg) rotateX(-24deg);
}
.parasol .top .triangle.t5 {
  -webkit-transform: rotateZ(120deg) rotateX(-24deg);
          transform: rotateZ(120deg) rotateX(-24deg);
}
.parasol .top .triangle.t6 {
  -webkit-transform: rotateZ(150deg) rotateX(-24deg);
          transform: rotateZ(150deg) rotateX(-24deg);
}
.parasol .top .triangle.t7 {
  -webkit-transform: rotateZ(180deg) rotateX(-24deg);
          transform: rotateZ(180deg) rotateX(-24deg);
}
.parasol .top .triangle.t8 {
  -webkit-transform: rotateZ(210deg) rotateX(-24deg);
          transform: rotateZ(210deg) rotateX(-24deg);
}
.parasol .top .triangle.t9 {
  -webkit-transform: rotateZ(240deg) rotateX(-24deg);
          transform: rotateZ(240deg) rotateX(-24deg);
}
.parasol .top .triangle.t10 {
  -webkit-transform: rotateZ(270deg) rotateX(-24deg);
          transform: rotateZ(270deg) rotateX(-24deg);
}
.parasol .top .triangle.t11 {
  -webkit-transform: rotateZ(300deg) rotateX(-24deg);
          transform: rotateZ(300deg) rotateX(-24deg);
}
.parasol .top .triangle.t12 {
  -webkit-transform: rotateZ(330deg) rotateX(-24deg);
          transform: rotateZ(330deg) rotateX(-24deg);
}/*# sourceMappingURL=index.css.map */