@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #8e44ad;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .puppet {
        margin: 90px 0 0;
    }
    .head {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 auto 8px;
    }
    .body {
        width: 50px;
        height: 100px;
        background-color: #fff;
        position: relative;
    }
    .armLeft {
        position: absolute;
        top: 0;
        left: -10px;
        width: 16px;
        height: 50px;
        background-color: #fff;
        border-radius: 8px;
        transform-origin: 8px 8px;
        transform: rotate(10deg);
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 52px;
            width: 16px;
            bottom: -36px;
            left: 0;
            background: #fff;
            border-radius: 8px;
            transform-origin: 8px 8px;
            transform: rotate(-5deg);
        }
    }
    .armRight {
        position: absolute;
        top: 0;
        right: -10px;
        width: 16px;
        height: 50px;
        background-color: #fff;
        border-radius: 8px;
        transform-origin: 8px 8px;
        transform: rotate(-75deg);
        animation: upper 1s ease-in-out infinite alternate;
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 52px;
            width: 16px;
            bottom: -36px;
            left: 0;
            background: #fff;
            border-radius: 8px;
            transform-origin: 8px 8px;
            transform: rotate(-75deg);
            animation: lower 1s ease-in-out infinite alternate;
        }
    }
    .leg {
        width: 24px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        top: 98%;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 24px;
            height: 24px;
            background-color: #fff;
            border-radius: 50%;
        }
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}
@keyframes upper {
    0% {
        transform: rotate(-75deg);
    }
    100% {
        transform: rotate(-85deg);
    }
}

@keyframes lower {
    0% {
        transform: rotate(-75deg);
    }
    100% {
        transform: rotate(-105deg);
    }
}
