@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #16A085;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle {
        width: 24px;
        height: 24px;
        border: 3px solid #fff;
        border-radius: 50%;
        animation: circle 2.5s linear infinite;
    }
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        fill: none;
        stroke: #fff;
        stroke-width: 3px;
        stroke-linecap: round;
        animation: line 2.5s linear infinite;
    }
}
@keyframes circle {
	0%,50% {
		opacity: 1;
		transform: scale(0);
	}
	70%,100% {
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes line {
	0% {
		stroke-dasharray: 50 660;
		stroke-dashoffset: 780;
	}
	100% {
		stroke-dasharray: 50 660;
		stroke-dashoffset: 70;
	}
}