*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #46a6da;
  border-radius: 8px;
  position: relative;
}
#app .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50px, -50px);
          transform: translate(-50px, -50px);
  background-color: #fff;
  border-radius: 50%;
  -webkit-animation: circle 5s ease-in-out infinite;
          animation: circle 5s ease-in-out infinite;
}
#app .circleLight {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  -webkit-transform: translate(-60px, -60px);
          transform: translate(-60px, -60px);
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-animation: circleLight 5s ease-in-out infinite;
          animation: circleLight 5s ease-in-out infinite;
}
#app .octagon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  -webkit-transform: translate(-60px, -60px);
          transform: translate(-60px, -60px);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  background-color: #fff;
  -webkit-animation: octagon 5s ease-in-out infinite;
          animation: octagon 5s ease-in-out infinite;
}
#app .octagonLight {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-100px, -100px);
          transform: translate(-100px, -100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: octagonLight 5s ease-in-out infinite;
          animation: octagonLight 5s ease-in-out infinite;
}
#app .octagonLight .light {
  width: 100%;
  height: 4px;
  position: absolute;
}
#app .octagonLight .light::after, #app .octagonLight .light::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 4px;
  top: 0;
  left: 0;
  background: #fff;
}
#app .octagonLight .light::before {
  left: auto;
  right: 0;
}
#app .octagonLight .light.l1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 120%;
}
#app .octagonLight .light.l2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#app .octagonLight .light.l3 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 120%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: translate3d(-50px, -350px, 0) scaleY(1.2);
            transform: translate3d(-50px, -350px, 0) scaleY(1.2);
  }
  10% {
    -webkit-transform: translate3d(-50px, 0px, 0) scaleY(0.8);
            transform: translate3d(-50px, 0px, 0) scaleY(0.8);
  }
  14% {
    -webkit-transform: translate3d(-50px, -80px, 0) scaleY(1.1);
            transform: translate3d(-50px, -80px, 0) scaleY(1.1);
  }
  18% {
    -webkit-transform: translate3d(-50px, 40px, 0) scaleY(0.9);
            transform: translate3d(-50px, 40px, 0) scaleY(0.9);
  }
  20%, 22% {
    -webkit-transform: translate3d(-50px, -50px, 0) scaleY(1);
            transform: translate3d(-50px, -50px, 0) scaleY(1);
  }
  26% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(1.2);
            transform: translate3d(-50px, -50px, 0) scale(1.2);
  }
  32%, 74% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(0);
            transform: translate3d(-50px, -50px, 0) scale(0);
  }
  80% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(1.2);
            transform: translate3d(-50px, -50px, 0) scale(1.2);
  }
  84% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(0.9);
            transform: translate3d(-50px, -50px, 0) scale(0.9);
  }
  86%, 88% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(1);
            transform: translate3d(-50px, -50px, 0) scale(1);
  }
  92% {
    -webkit-transform: translate3d(-50px, -80px, 0) scaleY(0.9);
            transform: translate3d(-50px, -80px, 0) scaleY(0.9);
  }
  100% {
    -webkit-transform: translate3d(-50px, 300px, 0) scaleY(1.2);
            transform: translate3d(-50px, 300px, 0) scaleY(1.2);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: translate3d(-50px, -350px, 0) scaleY(1.2);
            transform: translate3d(-50px, -350px, 0) scaleY(1.2);
  }
  10% {
    -webkit-transform: translate3d(-50px, 0px, 0) scaleY(0.8);
            transform: translate3d(-50px, 0px, 0) scaleY(0.8);
  }
  14% {
    -webkit-transform: translate3d(-50px, -80px, 0) scaleY(1.1);
            transform: translate3d(-50px, -80px, 0) scaleY(1.1);
  }
  18% {
    -webkit-transform: translate3d(-50px, 40px, 0) scaleY(0.9);
            transform: translate3d(-50px, 40px, 0) scaleY(0.9);
  }
  20%, 22% {
    -webkit-transform: translate3d(-50px, -50px, 0) scaleY(1);
            transform: translate3d(-50px, -50px, 0) scaleY(1);
  }
  26% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(1.2);
            transform: translate3d(-50px, -50px, 0) scale(1.2);
  }
  32%, 74% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(0);
            transform: translate3d(-50px, -50px, 0) scale(0);
  }
  80% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(1.2);
            transform: translate3d(-50px, -50px, 0) scale(1.2);
  }
  84% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(0.9);
            transform: translate3d(-50px, -50px, 0) scale(0.9);
  }
  86%, 88% {
    -webkit-transform: translate3d(-50px, -50px, 0) scale(1);
            transform: translate3d(-50px, -50px, 0) scale(1);
  }
  92% {
    -webkit-transform: translate3d(-50px, -80px, 0) scaleY(0.9);
            transform: translate3d(-50px, -80px, 0) scaleY(0.9);
  }
  100% {
    -webkit-transform: translate3d(-50px, 300px, 0) scaleY(1.2);
            transform: translate3d(-50px, 300px, 0) scaleY(1.2);
  }
}
@-webkit-keyframes circleLight {
  0%, 74% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0);
            transform: translate3d(-60px, -60px, 0) scale(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  84%, 100% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1.4);
            transform: translate3d(-60px, -60px, 0) scale(1.4);
    opacity: 0;
  }
}
@keyframes circleLight {
  0%, 74% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0);
            transform: translate3d(-60px, -60px, 0) scale(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  84%, 100% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1.4);
            transform: translate3d(-60px, -60px, 0) scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes octagon {
  0%, 30% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
  }
  36% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
  }
  40% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0.9) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(0.9) rotate(22.5deg);
  }
  42%, 44% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(1) rotate(22.5deg);
  }
  48% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
  }
  54%, 100% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
  }
}
@keyframes octagon {
  0%, 30% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
  }
  36% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
  }
  40% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0.9) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(0.9) rotate(22.5deg);
  }
  42%, 44% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(1) rotate(22.5deg);
  }
  48% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
  }
  54%, 100% {
    -webkit-transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
            transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
  }
}
@-webkit-keyframes octagonLight {
  0%, 30% {
    -webkit-transform: translate3d(-100px, -100px, 0) scale(0);
            transform: translate3d(-100px, -100px, 0) scale(0);
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  40%, 100% {
    -webkit-transform: translate3d(-100px, -100px, 0) scale(1.4);
            transform: translate3d(-100px, -100px, 0) scale(1.4);
    opacity: 0;
  }
}
@keyframes octagonLight {
  0%, 30% {
    -webkit-transform: translate3d(-100px, -100px, 0) scale(0);
            transform: translate3d(-100px, -100px, 0) scale(0);
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  40%, 100% {
    -webkit-transform: translate3d(-100px, -100px, 0) scale(1.4);
            transform: translate3d(-100px, -100px, 0) scale(1.4);
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */