@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #27ae60;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 200px;
    height: 200px;
    position: absolute;
    @for $i from 1 through 6 {
        &.b#{$i} {
            animation: inOut#{$i} 6s ease-in-out alternate infinite;
            .dot {
                opacity: calc(1 - ($i - 1) / 10);
            }
        }
    }
    .dot {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        @for $i from 1 through 12 {
            &.d#{$i} {
                $deg: calc(360 / 12) * ($i - 1);
                transform-origin: 0 100px;
                transform: translate(0, -100px) rotate($deg + deg);
            }
        }
    }
}

@for $i from 1 through 6 {
    @keyframes inOut#{$i} {
        0% {
            transform:
                scale(1 - (($i - 1) / 7))
                rotate((($i - 1) * 5) + deg);
        }
        100% {
            transform:
                scale(1 - (($i - 1) / 22))
                rotate(((($i - 1) * 10) + 360) + deg);
        }
    }
}