*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #27ae60;
  border-radius: 8px;
  position: relative;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.box .dot {
  width: 1px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.box .dot::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.box.b1 {
  width: 80px;
  height: 80px;
}
.box.b1 .dot::after {
  -webkit-animation: breathe 1.3s linear infinite alternate;
          animation: breathe 1.3s linear infinite alternate;
}
.box.b2 {
  width: 100px;
  height: 100px;
}
.box.b2 .dot::after {
  -webkit-animation: breathe 1.4s linear infinite alternate;
          animation: breathe 1.4s linear infinite alternate;
}
.box.b3 {
  width: 120px;
  height: 120px;
}
.box.b3 .dot::after {
  -webkit-animation: breathe 1.5s linear infinite alternate;
          animation: breathe 1.5s linear infinite alternate;
}
.box.b4 {
  width: 140px;
  height: 140px;
}
.box.b4 .dot::after {
  -webkit-animation: breathe 1.6s linear infinite alternate;
          animation: breathe 1.6s linear infinite alternate;
}
.box.b5 {
  width: 160px;
  height: 160px;
}
.box.b5 .dot::after {
  -webkit-animation: breathe 1.7s linear infinite alternate;
          animation: breathe 1.7s linear infinite alternate;
}
.box.b6 {
  width: 180px;
  height: 180px;
}
.box.b6 .dot::after {
  -webkit-animation: breathe 1.8s linear infinite alternate;
          animation: breathe 1.8s linear infinite alternate;
}
.box.b7 {
  width: 200px;
  height: 200px;
}
.box.b7 .dot::after {
  -webkit-animation: breathe 1.9s linear infinite alternate;
          animation: breathe 1.9s linear infinite alternate;
}
.box.b8 {
  width: 220px;
  height: 220px;
}
.box.b8 .dot::after {
  -webkit-animation: breathe 2s linear infinite alternate;
          animation: breathe 2s linear infinite alternate;
}
.box.b9 {
  width: 240px;
  height: 240px;
}
.box.b9 .dot::after {
  -webkit-animation: breathe 2.1s linear infinite alternate;
          animation: breathe 2.1s linear infinite alternate;
}
.box.b10 {
  width: 260px;
  height: 260px;
}
.box.b10 .dot::after {
  -webkit-animation: breathe 2.2s linear infinite alternate;
          animation: breathe 2.2s linear infinite alternate;
}
.box.b1 .dot.d1, .box.b2 .dot.d1 {
  -webkit-transform: translateX(-50%) rotate(20deg);
          transform: translateX(-50%) rotate(20deg);
}
.box.b1 .dot.d2, .box.b2 .dot.d2 {
  -webkit-transform: translateX(-50%) rotate(40deg);
          transform: translateX(-50%) rotate(40deg);
}
.box.b1 .dot.d3, .box.b2 .dot.d3 {
  -webkit-transform: translateX(-50%) rotate(60deg);
          transform: translateX(-50%) rotate(60deg);
}
.box.b1 .dot.d4, .box.b2 .dot.d4 {
  -webkit-transform: translateX(-50%) rotate(80deg);
          transform: translateX(-50%) rotate(80deg);
}
.box.b1 .dot.d5, .box.b2 .dot.d5 {
  -webkit-transform: translateX(-50%) rotate(100deg);
          transform: translateX(-50%) rotate(100deg);
}
.box.b1 .dot.d6, .box.b2 .dot.d6 {
  -webkit-transform: translateX(-50%) rotate(120deg);
          transform: translateX(-50%) rotate(120deg);
}
.box.b1 .dot.d7, .box.b2 .dot.d7 {
  -webkit-transform: translateX(-50%) rotate(140deg);
          transform: translateX(-50%) rotate(140deg);
}
.box.b1 .dot.d8, .box.b2 .dot.d8 {
  -webkit-transform: translateX(-50%) rotate(160deg);
          transform: translateX(-50%) rotate(160deg);
}
.box.b1 .dot.d9, .box.b2 .dot.d9 {
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.box.b1 .dot.d10, .box.b2 .dot.d10 {
  -webkit-transform: translateX(-50%) rotate(200deg);
          transform: translateX(-50%) rotate(200deg);
}
.box.b1 .dot.d11, .box.b2 .dot.d11 {
  -webkit-transform: translateX(-50%) rotate(220deg);
          transform: translateX(-50%) rotate(220deg);
}
.box.b1 .dot.d12, .box.b2 .dot.d12 {
  -webkit-transform: translateX(-50%) rotate(240deg);
          transform: translateX(-50%) rotate(240deg);
}
.box.b1 .dot.d13, .box.b2 .dot.d13 {
  -webkit-transform: translateX(-50%) rotate(260deg);
          transform: translateX(-50%) rotate(260deg);
}
.box.b1 .dot.d14, .box.b2 .dot.d14 {
  -webkit-transform: translateX(-50%) rotate(280deg);
          transform: translateX(-50%) rotate(280deg);
}
.box.b1 .dot.d15, .box.b2 .dot.d15 {
  -webkit-transform: translateX(-50%) rotate(300deg);
          transform: translateX(-50%) rotate(300deg);
}
.box.b1 .dot.d16, .box.b2 .dot.d16 {
  -webkit-transform: translateX(-50%) rotate(320deg);
          transform: translateX(-50%) rotate(320deg);
}
.box.b1 .dot.d17, .box.b2 .dot.d17 {
  -webkit-transform: translateX(-50%) rotate(340deg);
          transform: translateX(-50%) rotate(340deg);
}
.box.b1 .dot.d18, .box.b2 .dot.d18 {
  -webkit-transform: translateX(-50%) rotate(360deg);
          transform: translateX(-50%) rotate(360deg);
}
.box.b3 .dot.d1, .box.b4 .dot.d1 {
  -webkit-transform: translateX(-50%) rotate(15deg);
          transform: translateX(-50%) rotate(15deg);
}
.box.b3 .dot.d2, .box.b4 .dot.d2 {
  -webkit-transform: translateX(-50%) rotate(30deg);
          transform: translateX(-50%) rotate(30deg);
}
.box.b3 .dot.d3, .box.b4 .dot.d3 {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.box.b3 .dot.d4, .box.b4 .dot.d4 {
  -webkit-transform: translateX(-50%) rotate(60deg);
          transform: translateX(-50%) rotate(60deg);
}
.box.b3 .dot.d5, .box.b4 .dot.d5 {
  -webkit-transform: translateX(-50%) rotate(75deg);
          transform: translateX(-50%) rotate(75deg);
}
.box.b3 .dot.d6, .box.b4 .dot.d6 {
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}
.box.b3 .dot.d7, .box.b4 .dot.d7 {
  -webkit-transform: translateX(-50%) rotate(105deg);
          transform: translateX(-50%) rotate(105deg);
}
.box.b3 .dot.d8, .box.b4 .dot.d8 {
  -webkit-transform: translateX(-50%) rotate(120deg);
          transform: translateX(-50%) rotate(120deg);
}
.box.b3 .dot.d9, .box.b4 .dot.d9 {
  -webkit-transform: translateX(-50%) rotate(135deg);
          transform: translateX(-50%) rotate(135deg);
}
.box.b3 .dot.d10, .box.b4 .dot.d10 {
  -webkit-transform: translateX(-50%) rotate(150deg);
          transform: translateX(-50%) rotate(150deg);
}
.box.b3 .dot.d11, .box.b4 .dot.d11 {
  -webkit-transform: translateX(-50%) rotate(165deg);
          transform: translateX(-50%) rotate(165deg);
}
.box.b3 .dot.d12, .box.b4 .dot.d12 {
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.box.b3 .dot.d13, .box.b4 .dot.d13 {
  -webkit-transform: translateX(-50%) rotate(195deg);
          transform: translateX(-50%) rotate(195deg);
}
.box.b3 .dot.d14, .box.b4 .dot.d14 {
  -webkit-transform: translateX(-50%) rotate(210deg);
          transform: translateX(-50%) rotate(210deg);
}
.box.b3 .dot.d15, .box.b4 .dot.d15 {
  -webkit-transform: translateX(-50%) rotate(225deg);
          transform: translateX(-50%) rotate(225deg);
}
.box.b3 .dot.d16, .box.b4 .dot.d16 {
  -webkit-transform: translateX(-50%) rotate(240deg);
          transform: translateX(-50%) rotate(240deg);
}
.box.b3 .dot.d17, .box.b4 .dot.d17 {
  -webkit-transform: translateX(-50%) rotate(255deg);
          transform: translateX(-50%) rotate(255deg);
}
.box.b3 .dot.d18, .box.b4 .dot.d18 {
  -webkit-transform: translateX(-50%) rotate(270deg);
          transform: translateX(-50%) rotate(270deg);
}
.box.b3 .dot.d19, .box.b4 .dot.d19 {
  -webkit-transform: translateX(-50%) rotate(285deg);
          transform: translateX(-50%) rotate(285deg);
}
.box.b3 .dot.d20, .box.b4 .dot.d20 {
  -webkit-transform: translateX(-50%) rotate(300deg);
          transform: translateX(-50%) rotate(300deg);
}
.box.b3 .dot.d21, .box.b4 .dot.d21 {
  -webkit-transform: translateX(-50%) rotate(315deg);
          transform: translateX(-50%) rotate(315deg);
}
.box.b3 .dot.d22, .box.b4 .dot.d22 {
  -webkit-transform: translateX(-50%) rotate(330deg);
          transform: translateX(-50%) rotate(330deg);
}
.box.b3 .dot.d23, .box.b4 .dot.d23 {
  -webkit-transform: translateX(-50%) rotate(345deg);
          transform: translateX(-50%) rotate(345deg);
}
.box.b3 .dot.d24, .box.b4 .dot.d24 {
  -webkit-transform: translateX(-50%) rotate(360deg);
          transform: translateX(-50%) rotate(360deg);
}
.box.b5 .dot.d1, .box.b6 .dot.d1, .box.b7 .dot.d1, .box.b8 .dot.d1 {
  -webkit-transform: translateX(-50%) rotate(10deg);
          transform: translateX(-50%) rotate(10deg);
}
.box.b5 .dot.d2, .box.b6 .dot.d2, .box.b7 .dot.d2, .box.b8 .dot.d2 {
  -webkit-transform: translateX(-50%) rotate(20deg);
          transform: translateX(-50%) rotate(20deg);
}
.box.b5 .dot.d3, .box.b6 .dot.d3, .box.b7 .dot.d3, .box.b8 .dot.d3 {
  -webkit-transform: translateX(-50%) rotate(30deg);
          transform: translateX(-50%) rotate(30deg);
}
.box.b5 .dot.d4, .box.b6 .dot.d4, .box.b7 .dot.d4, .box.b8 .dot.d4 {
  -webkit-transform: translateX(-50%) rotate(40deg);
          transform: translateX(-50%) rotate(40deg);
}
.box.b5 .dot.d5, .box.b6 .dot.d5, .box.b7 .dot.d5, .box.b8 .dot.d5 {
  -webkit-transform: translateX(-50%) rotate(50deg);
          transform: translateX(-50%) rotate(50deg);
}
.box.b5 .dot.d6, .box.b6 .dot.d6, .box.b7 .dot.d6, .box.b8 .dot.d6 {
  -webkit-transform: translateX(-50%) rotate(60deg);
          transform: translateX(-50%) rotate(60deg);
}
.box.b5 .dot.d7, .box.b6 .dot.d7, .box.b7 .dot.d7, .box.b8 .dot.d7 {
  -webkit-transform: translateX(-50%) rotate(70deg);
          transform: translateX(-50%) rotate(70deg);
}
.box.b5 .dot.d8, .box.b6 .dot.d8, .box.b7 .dot.d8, .box.b8 .dot.d8 {
  -webkit-transform: translateX(-50%) rotate(80deg);
          transform: translateX(-50%) rotate(80deg);
}
.box.b5 .dot.d9, .box.b6 .dot.d9, .box.b7 .dot.d9, .box.b8 .dot.d9 {
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}
.box.b5 .dot.d10, .box.b6 .dot.d10, .box.b7 .dot.d10, .box.b8 .dot.d10 {
  -webkit-transform: translateX(-50%) rotate(100deg);
          transform: translateX(-50%) rotate(100deg);
}
.box.b5 .dot.d11, .box.b6 .dot.d11, .box.b7 .dot.d11, .box.b8 .dot.d11 {
  -webkit-transform: translateX(-50%) rotate(110deg);
          transform: translateX(-50%) rotate(110deg);
}
.box.b5 .dot.d12, .box.b6 .dot.d12, .box.b7 .dot.d12, .box.b8 .dot.d12 {
  -webkit-transform: translateX(-50%) rotate(120deg);
          transform: translateX(-50%) rotate(120deg);
}
.box.b5 .dot.d13, .box.b6 .dot.d13, .box.b7 .dot.d13, .box.b8 .dot.d13 {
  -webkit-transform: translateX(-50%) rotate(130deg);
          transform: translateX(-50%) rotate(130deg);
}
.box.b5 .dot.d14, .box.b6 .dot.d14, .box.b7 .dot.d14, .box.b8 .dot.d14 {
  -webkit-transform: translateX(-50%) rotate(140deg);
          transform: translateX(-50%) rotate(140deg);
}
.box.b5 .dot.d15, .box.b6 .dot.d15, .box.b7 .dot.d15, .box.b8 .dot.d15 {
  -webkit-transform: translateX(-50%) rotate(150deg);
          transform: translateX(-50%) rotate(150deg);
}
.box.b5 .dot.d16, .box.b6 .dot.d16, .box.b7 .dot.d16, .box.b8 .dot.d16 {
  -webkit-transform: translateX(-50%) rotate(160deg);
          transform: translateX(-50%) rotate(160deg);
}
.box.b5 .dot.d17, .box.b6 .dot.d17, .box.b7 .dot.d17, .box.b8 .dot.d17 {
  -webkit-transform: translateX(-50%) rotate(170deg);
          transform: translateX(-50%) rotate(170deg);
}
.box.b5 .dot.d18, .box.b6 .dot.d18, .box.b7 .dot.d18, .box.b8 .dot.d18 {
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.box.b5 .dot.d19, .box.b6 .dot.d19, .box.b7 .dot.d19, .box.b8 .dot.d19 {
  -webkit-transform: translateX(-50%) rotate(190deg);
          transform: translateX(-50%) rotate(190deg);
}
.box.b5 .dot.d20, .box.b6 .dot.d20, .box.b7 .dot.d20, .box.b8 .dot.d20 {
  -webkit-transform: translateX(-50%) rotate(200deg);
          transform: translateX(-50%) rotate(200deg);
}
.box.b5 .dot.d21, .box.b6 .dot.d21, .box.b7 .dot.d21, .box.b8 .dot.d21 {
  -webkit-transform: translateX(-50%) rotate(210deg);
          transform: translateX(-50%) rotate(210deg);
}
.box.b5 .dot.d22, .box.b6 .dot.d22, .box.b7 .dot.d22, .box.b8 .dot.d22 {
  -webkit-transform: translateX(-50%) rotate(220deg);
          transform: translateX(-50%) rotate(220deg);
}
.box.b5 .dot.d23, .box.b6 .dot.d23, .box.b7 .dot.d23, .box.b8 .dot.d23 {
  -webkit-transform: translateX(-50%) rotate(230deg);
          transform: translateX(-50%) rotate(230deg);
}
.box.b5 .dot.d24, .box.b6 .dot.d24, .box.b7 .dot.d24, .box.b8 .dot.d24 {
  -webkit-transform: translateX(-50%) rotate(240deg);
          transform: translateX(-50%) rotate(240deg);
}
.box.b5 .dot.d25, .box.b6 .dot.d25, .box.b7 .dot.d25, .box.b8 .dot.d25 {
  -webkit-transform: translateX(-50%) rotate(250deg);
          transform: translateX(-50%) rotate(250deg);
}
.box.b5 .dot.d26, .box.b6 .dot.d26, .box.b7 .dot.d26, .box.b8 .dot.d26 {
  -webkit-transform: translateX(-50%) rotate(260deg);
          transform: translateX(-50%) rotate(260deg);
}
.box.b5 .dot.d27, .box.b6 .dot.d27, .box.b7 .dot.d27, .box.b8 .dot.d27 {
  -webkit-transform: translateX(-50%) rotate(270deg);
          transform: translateX(-50%) rotate(270deg);
}
.box.b5 .dot.d28, .box.b6 .dot.d28, .box.b7 .dot.d28, .box.b8 .dot.d28 {
  -webkit-transform: translateX(-50%) rotate(280deg);
          transform: translateX(-50%) rotate(280deg);
}
.box.b5 .dot.d29, .box.b6 .dot.d29, .box.b7 .dot.d29, .box.b8 .dot.d29 {
  -webkit-transform: translateX(-50%) rotate(290deg);
          transform: translateX(-50%) rotate(290deg);
}
.box.b5 .dot.d30, .box.b6 .dot.d30, .box.b7 .dot.d30, .box.b8 .dot.d30 {
  -webkit-transform: translateX(-50%) rotate(300deg);
          transform: translateX(-50%) rotate(300deg);
}
.box.b5 .dot.d31, .box.b6 .dot.d31, .box.b7 .dot.d31, .box.b8 .dot.d31 {
  -webkit-transform: translateX(-50%) rotate(310deg);
          transform: translateX(-50%) rotate(310deg);
}
.box.b5 .dot.d32, .box.b6 .dot.d32, .box.b7 .dot.d32, .box.b8 .dot.d32 {
  -webkit-transform: translateX(-50%) rotate(320deg);
          transform: translateX(-50%) rotate(320deg);
}
.box.b5 .dot.d33, .box.b6 .dot.d33, .box.b7 .dot.d33, .box.b8 .dot.d33 {
  -webkit-transform: translateX(-50%) rotate(330deg);
          transform: translateX(-50%) rotate(330deg);
}
.box.b5 .dot.d34, .box.b6 .dot.d34, .box.b7 .dot.d34, .box.b8 .dot.d34 {
  -webkit-transform: translateX(-50%) rotate(340deg);
          transform: translateX(-50%) rotate(340deg);
}
.box.b5 .dot.d35, .box.b6 .dot.d35, .box.b7 .dot.d35, .box.b8 .dot.d35 {
  -webkit-transform: translateX(-50%) rotate(350deg);
          transform: translateX(-50%) rotate(350deg);
}
.box.b5 .dot.d36, .box.b6 .dot.d36, .box.b7 .dot.d36, .box.b8 .dot.d36 {
  -webkit-transform: translateX(-50%) rotate(360deg);
          transform: translateX(-50%) rotate(360deg);
}

@-webkit-keyframes breathe {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes breathe {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}/*# sourceMappingURL=index.css.map */