*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #27ae60;
  border-radius: 8px;
  position: relative;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.box .dot {
  width: 1px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.box .dot::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.box .dot.d1 {
  -webkit-transform: translateX(-50%) rotate(20deg);
          transform: translateX(-50%) rotate(20deg);
}
.box .dot.d2 {
  -webkit-transform: translateX(-50%) rotate(40deg);
          transform: translateX(-50%) rotate(40deg);
}
.box .dot.d3 {
  -webkit-transform: translateX(-50%) rotate(60deg);
          transform: translateX(-50%) rotate(60deg);
}
.box .dot.d4 {
  -webkit-transform: translateX(-50%) rotate(80deg);
          transform: translateX(-50%) rotate(80deg);
}
.box .dot.d5 {
  -webkit-transform: translateX(-50%) rotate(100deg);
          transform: translateX(-50%) rotate(100deg);
}
.box .dot.d6 {
  -webkit-transform: translateX(-50%) rotate(120deg);
          transform: translateX(-50%) rotate(120deg);
}
.box .dot.d7 {
  -webkit-transform: translateX(-50%) rotate(140deg);
          transform: translateX(-50%) rotate(140deg);
}
.box .dot.d8 {
  -webkit-transform: translateX(-50%) rotate(160deg);
          transform: translateX(-50%) rotate(160deg);
}
.box .dot.d9 {
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.box .dot.d10 {
  -webkit-transform: translateX(-50%) rotate(200deg);
          transform: translateX(-50%) rotate(200deg);
}
.box .dot.d11 {
  -webkit-transform: translateX(-50%) rotate(220deg);
          transform: translateX(-50%) rotate(220deg);
}
.box .dot.d12 {
  -webkit-transform: translateX(-50%) rotate(240deg);
          transform: translateX(-50%) rotate(240deg);
}
.box .dot.d13 {
  -webkit-transform: translateX(-50%) rotate(260deg);
          transform: translateX(-50%) rotate(260deg);
}
.box .dot.d14 {
  -webkit-transform: translateX(-50%) rotate(280deg);
          transform: translateX(-50%) rotate(280deg);
}
.box .dot.d15 {
  -webkit-transform: translateX(-50%) rotate(300deg);
          transform: translateX(-50%) rotate(300deg);
}
.box .dot.d16 {
  -webkit-transform: translateX(-50%) rotate(320deg);
          transform: translateX(-50%) rotate(320deg);
}
.box .dot.d17 {
  -webkit-transform: translateX(-50%) rotate(340deg);
          transform: translateX(-50%) rotate(340deg);
}
.box .dot.d18 {
  -webkit-transform: translateX(-50%) rotate(360deg);
          transform: translateX(-50%) rotate(360deg);
}/*# sourceMappingURL=index.css.map */