@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #2B3642;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 320px;
    background-color: #fff;
    .tabs {
        width: 100%;
        background-color: #3D4D5E;
        height: 40px;
        display: flex;
        .tab {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            transition: background-color 0.5s;
            cursor: pointer;
            &.active {
                background-color: #5DA2ED;
                transition: background-color 0.5s;
                svg {
                    fill: #fff;
                }
            }
            &:hover {
                svg {
                    fill: #fff;
                }
            }
            svg {
                fill: #8398AD;
                width: 45%;
                pointer-events: none;
            }
        }

    }
    .content {
        padding: 24px;
        h3 {
            margin: 0;
            font-size: 1.8rem;
            margin: 0 0 12px;
        }
        p {
            margin: 0 0 12px;
            span {
                display: block;
                margin: 0 0 6px;

                height: 4px;
                background-color: #E9E9E9;
                &:nth-child(1){
                    width: 100%;
                }
                &:nth-child(2){
                    width: 70%;
                }
                &:nth-child(3){
                    width: 90%;
                }
                &:nth-child(4){
                    width: 100%;
                }
                &:nth-child(5){
                    width: 30%;
                }
            }
        }
    }
}