@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .btnBox {
        input {
            display: none;
        }
        #r1:checked {
            ~ .active {
                transform: translateX(0);
            }
            ~ .bg {
                background-color: #9b59b6;
                .b1 {
                    z-index: 1;
                    width: 100%;
                }
            }
        }
        #r2:checked {
            ~ .active {
                transform: translateX(56px);
            }
            ~ .bg {
                background-color: #3498db;
                .b2 {
                    z-index: 1;
                    width: 100%;
                }
            }
        }
        #r3:checked {
            ~ .active {
                transform: translateX(112px);
            }
            ~ .bg {
                background-color: #1abc9c;
                .b3 {
                    z-index: 1;
                    width: 100%;
                }
            }
        }
        label {
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 1px solid #fff;
            margin: 0 4px 0 0;
            position: relative;
            cursor: pointer;
            &:last-child {
                margin: 0;
            }
        }
        .active {
            position: absolute;
            top: 179px;
            left: 123px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: #fff;
            pointer-events: none;
            transition: transform 0.5s;
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transition-delay: 0.5s;
            div {
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: width 0.5s;
            }
            .b1 {
                background-color: #9b59b6;
            }
            .b2 {
                background-color: #3498db;
            }
            .b3 {
                background-color: #1abc9c;
            }
        }
    }
}
