@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center($w, $h: $w) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $w + px;
    height: $h + px;
    transform: translate(calc(($w / 2) * -1) + px, calc(($h / 2) * -1) + px);
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #46a6da;
    border-radius: 8px;
    position: relative;
    .circle {
        @include center(100);
        background-color: #fff;
        border-radius: 50%;
        animation: circle 5s ease-in-out infinite;
    }
    .circleLight {
        @include center(120);
        border-radius: 50%;
        border: 3px solid #fff;
        animation: circleLight 5s ease-in-out infinite;
    }
}

@keyframes circle {
    0% {
        transform: translate3d(-50px, -350px, 0) scaleY(1.2);
    }
    10% {
        transform: translate3d(-50px, 0px, 0) scaleY(0.8);
    }
    14% {
        transform: translate3d(-50px, -80px, 0) scaleY(1.1);
    }
    18% {
        transform: translate3d(-50px, 40px, 0) scaleY(0.9);
    }
    20%,
    22% {
        transform: translate3d(-50px, -50px, 0) scaleY(1);
    }
    26% {
        transform: translate3d(-50px, -50px, 0) scale(1.2);
    }
    32%,
    74% {
        transform: translate3d(-50px, -50px, 0) scale(0);
    }
    80% {
        transform: translate3d(-50px, -50px, 0) scale(1.2);
    }
    84% {
        transform: translate3d(-50px, -50px, 0) scale(0.9);
    }
    86%,
    88% {
        transform: translate3d(-50px, -50px, 0) scale(1);
    }
    92% {
        transform: translate3d(-50px, -80px, 0) scaleY(0.9);
    }
    100% {
        transform: translate3d(-50px, 300px, 0) scaleY(1.2);
    }
}
@keyframes circleLight {
    0%,
    74% {
        transform: translate3d(-60px, -60px, 0) scale(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    84%,
    100% {
        transform: translate3d(-60px, -60px, 0) scale(1.4);
        opacity: 0;
    }
}
