@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center($w, $h: $w) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $w + px;
    height: $h + px;
    transform: translate(calc(($w / 2) * -1) + px, calc(($h / 2) * -1) + px);
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #46a6da;
    border-radius: 8px;
    position: relative;
    .circle {
        @include center(100);
        background-color: #fff;
        border-radius: 50%;
        animation: circle 5s ease-in-out infinite;
    }
    .circleLight {
        @include center(120);
        border-radius: 50%;
        border: 3px solid #fff;
        animation: circleLight 5s ease-in-out infinite;
    }
    .octagon {
        @include center(120);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        background-color: #fff;
        animation: octagon 5s ease-in-out infinite;
    }
    .triangle {
        @include center(100);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: #fff;
        animation: triangle 5s ease-in-out infinite;
    }
    .octagonLight,
    .triangleLight {
        @include center(200);
        display: flex;
        justify-content: center;
        align-items: center;
        .light {
            width: 100%;
            height: 4px;
            position: absolute;
            &::after,
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 25px;
                height: 4px;
                top: 0;
                left: 0;
                background: #fff;
            }
            &::before {
                left: auto;
                right: 0;
            }
            &.l1 {
                transform: rotate(45deg);
                width: 120%;
            }
            &.l2 {
                transform: rotate(90deg);
            }
            &.l3 {
                transform: rotate(135deg);
                width: 120%;
            }
        }
    }
    .octagonLight {
        animation: octagonLight 5s ease-in-out infinite;
    }
    .triangleLight {
        animation: triangleLight 5s ease-in-out infinite;
        .l1::after,
        .l2::before,
        .l3::after {
            display: none;
        }
    }
}

@keyframes circle {
    0% {
        transform: translate3d(-50px, -350px, 0) scaleY(1.2);
    }
    10% {
        transform: translate3d(-50px, 0px, 0) scaleY(0.8);
    }
    14% {
        transform: translate3d(-50px, -80px, 0) scaleY(1.1);
    }
    18% {
        transform: translate3d(-50px, 40px, 0) scaleY(0.9);
    }
    20%,
    22% {
        transform: translate3d(-50px, -50px, 0) scaleY(1);
    }
    26% {
        transform: translate3d(-50px, -50px, 0) scale(1.2);
    }
    32%,
    74% {
        transform: translate3d(-50px, -50px, 0) scale(0);
    }
    80% {
        transform: translate3d(-50px, -50px, 0) scale(1.2);
    }
    84% {
        transform: translate3d(-50px, -50px, 0) scale(0.9);
    }
    86%,
    88% {
        transform: translate3d(-50px, -50px, 0) scale(1);
    }
    92% {
        transform: translate3d(-50px, -80px, 0) scaleY(0.9);
    }
    100% {
        transform: translate3d(-50px, 300px, 0) scaleY(1.2);
    }
}
@keyframes circleLight {
    0%,
    74% {
        transform: translate3d(-60px, -60px, 0) scale(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    84%,
    100% {
        transform: translate3d(-60px, -60px, 0) scale(1.4);
        opacity: 0;
    }
}
@keyframes octagon {
    0%,
    30% {
        transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
    }
    36% {
        transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
    }
    40% {
        transform: translate3d(-60px, -60px, 0) scale(0.9) rotate(22.5deg);
    }
    42%,
    44% {
        transform: translate3d(-60px, -60px, 0) scale(1) rotate(22.5deg);
    }
    48% {
        transform: translate3d(-60px, -60px, 0) scale(1.2) rotate(22.5deg);
    }
    54%,
    100% {
        transform: translate3d(-60px, -60px, 0) scale(0) rotate(22.5deg);
    }
}
@keyframes octagonLight {
    0%,
    30% {
        transform: translate3d(-100px, -100px, 0) scale(0);
        opacity: 1;
    }
    36% {
        opacity: 1;
    }
    40%,
    100% {
        transform: translate3d(-100px, -100px, 0) scale(1.4);
        opacity: 0;
    }
}
@keyframes triangle {
    0%,
    52% {
        transform: translate3d(-50px, -50px, 0) scale(0);
    }
    58% {
        transform: translate3d(-50px, -50px, 0) scale(1.2);
    }
    62% {
        transform: translate3d(-50px, -50px, 0) scale(0.9);
    }
    64%,
    66% {
        transform: translate3d(-50px, -50px, 0) scale(1);
    }
    70% {
        transform: translate3d(-50px, -50px, 0) scale(1.2);
    }
    76%,
    100% {
        transform: translate3d(-50px, -50px, 0) scale(0);
    }
}
@keyframes triangleLight {
    0%,
    52% {
        transform: translate3d(-100px, -100px, 0) scale(0);
        opacity: 1;
    }
    58% {
        opacity: 1;
    }
    62%,
    100% {
        transform: translate3d(-100px, -100px, 0) scale(1.4);
        opacity: 0;
    }
}
