*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #ffdcb5;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#app .pig {
  position: relative;
}
#app .pig .head {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #f7949a;
  position: relative;
}
#app .pig .ear {
  width: 60px;
  height: 60px;
  background-color: #ffb7bc;
  border: 7px solid #f7949a;
  position: absolute;
  top: -5px;
}
#app .pig .ear.left {
  border-radius: 15px 0 0 0;
  left: 10px;
  -webkit-transform: rotate(-12deg) skewY(27deg);
          transform: rotate(-12deg) skewY(27deg);
}
#app .pig .ear.right {
  border-radius: 0 15px 0 0;
  right: 10px;
  -webkit-transform: rotate(12deg) skewY(-27deg);
          transform: rotate(12deg) skewY(-27deg);
}
#app .pig .eyes {
  position: absolute;
  top: 42%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: eyes 15s ease-in-out infinite;
          animation: eyes 15s ease-in-out infinite;
}
#app .pig .eyes::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}
#app .pig .eyes.left {
  left: 24%;
}
#app .pig .eyes.right {
  right: 24%;
}
#app .pig .nose {
  width: 60px;
  height: 50px;
  border-radius: 100px/80px;
  background-color: #ffb7bc;
  position: absolute;
  top: 55%;
  left: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#app .pig .nose .nostril {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ce666d;
  margin: 12px 0 0;
}

@-webkit-keyframes eyes {
  0%, 23%, 25%, 65%, 67%, 89%, 91%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  24%, 66%, 90% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes eyes {
  0%, 23%, 25%, 65%, 67%, 89%, 91%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  24%, 66%, 90% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}/*# sourceMappingURL=index.css.map */