@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #1BBE9E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        fill: transparent;

    }
    .bg {
        stroke: #12836D;
        stroke-width: 4px;
    }
    .loader {
        stroke: #fff;
        stroke-width: 4px;
        stroke-dasharray: 288;
        animation: line 4s linear infinite, turn 3s linear infinite;
        transform-origin: center;
    }
}
@keyframes line {
	0% {
		stroke-dashoffset: (288 * 4);
	}
	100% {
		stroke-dashoffset: (288 * 2);
	}
}
@keyframes turn {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}