@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
$googleFonts: 'Noto Sans TC', sans-serif;
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: $googleFonts;
    font-size: 10px;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}

#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #e16d6c;
    border-radius: 8px;
    position: relative;
    .circle {
        @include center;
        @include wh(60px);
        border-radius: 50%;
        background-color: #fff;
        animation: circle 1s ease-in-out forwards;
    }
    .lineBox {
        @include center;
        width: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: lineBox 1s 1s ease-in-out forwards;
        .line {
            width: 50%;
            height: 4px;
            background-color: #fff;
            animation: line 0.8s 1.5s ease-in-out forwards;
        }
        .bracket {
            width: 4px;
            height: 0px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            animation: bracket 0.5s 2.2s ease-in-out forwards;
            &::after,
            &::before {
                content: '';
                display: block;
                width: 0px;
                height: 4px;
                background-color: inherit;
                position: absolute;
                top: 0;
                animation: bracket2 0.2s 2.6s ease-in-out forwards;
            }
            &::before {
                top: 100%;
            }
            &.left {
                left: 0;
                &::after,
                &::before {
                    left: 0;
                }
            }
            &.right {
                left: 100%;
                &::after,
                &::before {
                    right: 0;
                }
            }
        }
    }
}

@keyframes circle {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    90%,
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
@keyframes lineBox {
    0% {
        width: 0%;
    }
    50%,
    100% {
        width: 80%;
    }
}
@keyframes line {
    0% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}
@keyframes bracket {
    0% {
        height: 0;
    }
    100% {
        height: 70px;
    }
}
@keyframes bracket2 {
    0% {
        width: 0;
    }
    100% {
        width: 20px;
    }
}
