@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
$googleFonts: 'Noto Sans TC', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: $googleFonts;
    font-size: 10px;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #57d895;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    [type='checkbox'] {
        display: none;
    }
    label {
        width: 60%;
        height: 60px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #37be77;
        }
        span {
            font-size: 2rem;
            font-weight: 500;
        }
    }
    input:checked {
        & ~ label {
            animation: button 1s forwards;
        }
    }
}
@keyframes button {
    0% {
        width: 60%;
    }
    50% {
        color: transparent;
    }
    100% {
        width: 60px;
        border-color: #45b078;
        background: transparent;
        color: transparent;
    }
}
