@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
$googleFonts: 'Noto Sans TC', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: $googleFonts;
    font-size: 10px;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #57d895;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    [type='checkbox'] {
        display: none;
    }
    label {
        width: 60%;
        height: 60px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #37be77;
        }
        span {
            font-size: 2rem;
            font-weight: 500;
        }
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            fill: #57d895;
            opacity: 0;
        }
    }
    .circle {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        fill: none;
        stroke: #fff;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-dasharray: 183 183;
        stroke-dashoffset: 183;
        pointer-events: none;
    }
    input:checked {
        & ~ label {
            animation: button 2s forwards;
            svg {
                animation: show 0.5s 2s forwards;
            }
        }
        & ~ .circle {
            animation: circle 2s 1s;
        }
    }
}
@keyframes button {
    0% {
        width: 60%;
    }
    25% {
        color: transparent;
    }
    50%,
    99% {
        width: 60px;
        border-color: #45b078;
        background: transparent;
        color: transparent;
    }
    100% {
        width: 60px;
        background: #fff;
    }
}
@keyframes buttonBG {
    0% {
        background: transparent;
    }
    100% {
        background: #fff;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes circle {
    0% {
        stroke-dashoffset: 183;
    }
    50% {
        stroke-dashoffset: 0;
        stroke-dasharray: 183;
        transform: translate(-50%, -50%) rotate(-90deg) scale(1);
        opacity: 1;
    }
    90%,
    100% {
        stroke-dasharray: 500 500;
        transform: translate(-50%, -50%) rotate(-90deg) scale(2);
        opacity: 0;
    }
}
