*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #16a085;
  border-radius: 8px;
  position: relative;
}
#app .horizontal,
#app .vertical {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#app .horizontal .stripe,
#app .vertical .stripe {
  background-color: #fff;
}
#app .horizontal .stripe {
  width: 40px;
  height: 10px;
  margin: 15px 0;
  -webkit-animation: rotateH 4s ease-in-out infinite;
          animation: rotateH 4s ease-in-out infinite;
}
#app .vertical .stripe {
  width: 10px;
  height: 40px;
  margin: 0 15px;
  -webkit-animation: rotateV 4s ease-in-out infinite;
          animation: rotateV 4s ease-in-out infinite;
}

@-webkit-keyframes rotateH {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(45deg) translateX(-20px);
            transform: rotate(45deg) translateX(-20px);
  }
  60% {
    -webkit-transform: rotate(45deg) scaleY(2) scaleX(0.5);
            transform: rotate(45deg) scaleY(2) scaleX(0.5);
  }
  80% {
    -webkit-transform: rotate(45deg) scaleY(2) scaleX(0.5);
            transform: rotate(45deg) scaleY(2) scaleX(0.5);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotateH {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(45deg) translateX(-20px);
            transform: rotate(45deg) translateX(-20px);
  }
  60% {
    -webkit-transform: rotate(45deg) scaleY(2) scaleX(0.5);
            transform: rotate(45deg) scaleY(2) scaleX(0.5);
  }
  80% {
    -webkit-transform: rotate(45deg) scaleY(2) scaleX(0.5);
            transform: rotate(45deg) scaleY(2) scaleX(0.5);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@-webkit-keyframes rotateV {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(45deg) translateX(10px);
            transform: rotate(45deg) translateX(10px);
  }
  60% {
    -webkit-transform: rotate(45deg) scaleX(2) scaleY(0.5);
            transform: rotate(45deg) scaleX(2) scaleY(0.5);
  }
  80% {
    -webkit-transform: rotate(90deg) scaleX(2) scaleY(0.5);
            transform: rotate(90deg) scaleX(2) scaleY(0.5);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotateV {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(45deg) translateX(10px);
            transform: rotate(45deg) translateX(10px);
  }
  60% {
    -webkit-transform: rotate(45deg) scaleX(2) scaleY(0.5);
            transform: rotate(45deg) scaleX(2) scaleY(0.5);
  }
  80% {
    -webkit-transform: rotate(90deg) scaleX(2) scaleY(0.5);
            transform: rotate(90deg) scaleX(2) scaleY(0.5);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}/*# sourceMappingURL=index.css.map */