@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 10px;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #e16d6c;
  border-radius: 8px;
  position: relative;
}
#app .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: circle 1s ease-in-out forwards;
          animation: circle 1s ease-in-out forwards;
}
#app .lineBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: lineBox 1s 1s ease-in-out forwards;
          animation: lineBox 1s 1s ease-in-out forwards;
}
#app .lineBox .line {
  width: 50%;
  height: 4px;
  background-color: #fff;
  -webkit-animation: line 0.8s 1.5s ease-in-out forwards;
          animation: line 0.8s 1.5s ease-in-out forwards;
}
#app .lineBox .bracket {
  width: 4px;
  height: 0px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: bracket 0.5s 2.2s ease-in-out forwards;
          animation: bracket 0.5s 2.2s ease-in-out forwards;
}
#app .lineBox .bracket::after, #app .lineBox .bracket::before {
  content: "";
  display: block;
  width: 0px;
  height: 4px;
  background-color: inherit;
  position: absolute;
  top: 0;
  -webkit-animation: bracket2 0.2s 2.6s ease-in-out forwards;
          animation: bracket2 0.2s 2.6s ease-in-out forwards;
}
#app .lineBox .bracket::before {
  top: 100%;
}
#app .lineBox .bracket.left {
  left: 0;
}
#app .lineBox .bracket.left::after, #app .lineBox .bracket.left::before {
  left: 0;
}
#app .lineBox .bracket.right {
  left: 100%;
}
#app .lineBox .bracket.right::after, #app .lineBox .bracket.right::before {
  right: 0;
}
#app .moments {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
  font-size: 5rem;
  color: #fff;
  font-weight: 900;
  -webkit-animation: moments 0.4s 2.2s ease-in-out forwards;
          animation: moments 0.4s 2.2s ease-in-out forwards;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  90%, 100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  90%, 100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}
@-webkit-keyframes lineBox {
  0% {
    width: 0%;
  }
  50%, 100% {
    width: 80%;
  }
}
@keyframes lineBox {
  0% {
    width: 0%;
  }
  50%, 100% {
    width: 80%;
  }
}
@-webkit-keyframes line {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
@keyframes line {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes bracket {
  0% {
    height: 0;
  }
  100% {
    height: 70px;
  }
}
@keyframes bracket {
  0% {
    height: 0;
  }
  100% {
    height: 70px;
  }
}
@-webkit-keyframes bracket2 {
  0% {
    width: 0;
  }
  100% {
    width: 20px;
  }
}
@keyframes bracket2 {
  0% {
    width: 0;
  }
  100% {
    width: 20px;
  }
}
@-webkit-keyframes moments {
  0% {
    -webkit-transform: translate(-50%, -50%) scaleY(0);
            transform: translate(-50%, -50%) scaleY(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scaleY(1);
            transform: translate(-50%, -50%) scaleY(1);
  }
}
@keyframes moments {
  0% {
    -webkit-transform: translate(-50%, -50%) scaleY(0);
            transform: translate(-50%, -50%) scaleY(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scaleY(1);
            transform: translate(-50%, -50%) scaleY(1);
  }
}/*# sourceMappingURL=index.css.map */