@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #2c3e50;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .box {
        position: relative;
        width: 160px;
        height: 160px;
        div {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
        }
        .top {
            top: 0;
            left: 0;
            border-width: 80px 80px 0 80px;
            border-color: #3f91c7 transparent transparent transparent;
            animation: top 1.5s cubic-bezier(0.19, 0.69, 0.4, 1) infinite alternate;
        }
        .right {
            top: 0;
            right: 0;
            border-width: 80px 80px 80px 0;
            border-color: transparent #2b82bb transparent transparent;
            animation: right 1.5s cubic-bezier(0.19, 0.69, 0.4, 1) infinite alternate;
        }
        .bottom {
            bottom: 0;
            right: 0;
            border-width: 0 80px 80px 80px;
            border-color: transparent transparent #2578ae transparent;
            animation: bottom 1.5s cubic-bezier(0.19, 0.69, 0.4, 1) infinite alternate;
        }
        .left {
            top: 0;
            left: 0;
            border-width: 80px 0 80px 80px;
            border-color: transparent transparent transparent #3289c3;
            animation: left 1.5s cubic-bezier(0.19, 0.69, 0.4, 1) infinite alternate;
        }
    }
}

@keyframes top {
    0%,
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-180px);
    }
}

@keyframes left {
    0%,
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(-180px);
    }
}

@keyframes right {
    0%,
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(180px);
    }
}

@keyframes bottom {
    0%,
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(180px);
    }
}
