*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #16A078;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flower {
  position: relative;
  -webkit-animation: flower 7s ease infinite;
          animation: flower 7s ease infinite;
}
.flower .leaf {
  width: 100px;
  height: 100px;
  background-color: #fff;
  opacity: 1;
  border-radius: 2px 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.flower .leaf.l1 {
  -webkit-animation: l1 7s ease infinite;
          animation: l1 7s ease infinite;
}
.flower .leaf.l2 {
  -webkit-animation: l2 7s ease infinite;
          animation: l2 7s ease infinite;
}
.flower .leaf.l3 {
  -webkit-animation: l3 7s ease infinite;
          animation: l3 7s ease infinite;
}
.flower .leaf.l4 {
  -webkit-animation: l4 7s ease infinite;
          animation: l4 7s ease infinite;
}
.flower .leaf.l5 {
  -webkit-animation: l5 7s ease infinite;
          animation: l5 7s ease infinite;
}
.flower .leaf.l6 {
  -webkit-animation: l6 7s ease infinite;
          animation: l6 7s ease infinite;
}
.flower .leaf.l7 {
  -webkit-animation: l7 7s ease infinite;
          animation: l7 7s ease infinite;
}
.flower .leaf.l8 {
  -webkit-animation: l8 7s ease infinite;
          animation: l8 7s ease infinite;
}
.flower .leaf.l9 {
  -webkit-animation: l9 7s ease infinite;
          animation: l9 7s ease infinite;
}
.flower .leaf.l10 {
  -webkit-animation: l10 7s ease infinite;
          animation: l10 7s ease infinite;
}
.flower .leaf.l11 {
  -webkit-animation: l11 7s ease infinite;
          animation: l11 7s ease infinite;
}
.flower .leaf.l12 {
  -webkit-animation: l12 7s ease infinite;
          animation: l12 7s ease infinite;
}
.flower .leaf.l13 {
  -webkit-animation: l13 7s ease infinite;
          animation: l13 7s ease infinite;
}
.flower .leaf.l14 {
  -webkit-animation: l14 7s ease infinite;
          animation: l14 7s ease infinite;
}
.flower .leaf.l15 {
  -webkit-animation: l15 7s ease infinite;
          animation: l15 7s ease infinite;
}
.flower .leaf.l16 {
  -webkit-animation: l16 7s ease infinite;
          animation: l16 7s ease infinite;
}
.flower .core {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f1c40f;
  position: relative;
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: core 7s ease-in-out infinite;
          animation: core 7s ease-in-out infinite;
}

@-webkit-keyframes l1 {
  0%, 100% {
    -webkit-transform: rotate(22.5deg) scale(0.2);
            transform: rotate(22.5deg) scale(0.2);
    opacity: 1;
  }
  12.8125% {
    -webkit-transform: rotate(22.5deg) scale(1);
            transform: rotate(22.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(22.5deg) scale(1);
            transform: rotate(22.5deg) scale(1);
    opacity: 0.8;
  }
}

@keyframes l1 {
  0%, 100% {
    -webkit-transform: rotate(22.5deg) scale(0.2);
            transform: rotate(22.5deg) scale(0.2);
    opacity: 1;
  }
  12.8125% {
    -webkit-transform: rotate(22.5deg) scale(1);
            transform: rotate(22.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(22.5deg) scale(1);
            transform: rotate(22.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l2 {
  0%, 100% {
    -webkit-transform: rotate(45deg) scale(0.2);
            transform: rotate(45deg) scale(0.2);
    opacity: 1;
  }
  15.625% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l2 {
  0%, 100% {
    -webkit-transform: rotate(45deg) scale(0.2);
            transform: rotate(45deg) scale(0.2);
    opacity: 1;
  }
  15.625% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l3 {
  0%, 100% {
    -webkit-transform: rotate(67.5deg) scale(0.2);
            transform: rotate(67.5deg) scale(0.2);
    opacity: 1;
  }
  18.4375% {
    -webkit-transform: rotate(67.5deg) scale(1);
            transform: rotate(67.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(67.5deg) scale(1);
            transform: rotate(67.5deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l3 {
  0%, 100% {
    -webkit-transform: rotate(67.5deg) scale(0.2);
            transform: rotate(67.5deg) scale(0.2);
    opacity: 1;
  }
  18.4375% {
    -webkit-transform: rotate(67.5deg) scale(1);
            transform: rotate(67.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(67.5deg) scale(1);
            transform: rotate(67.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l4 {
  0%, 100% {
    -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
    opacity: 1;
  }
  21.25% {
    -webkit-transform: rotate(90deg) scale(1);
            transform: rotate(90deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(90deg) scale(1);
            transform: rotate(90deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l4 {
  0%, 100% {
    -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
    opacity: 1;
  }
  21.25% {
    -webkit-transform: rotate(90deg) scale(1);
            transform: rotate(90deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(90deg) scale(1);
            transform: rotate(90deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l5 {
  0%, 100% {
    -webkit-transform: rotate(112.5deg) scale(0.2);
            transform: rotate(112.5deg) scale(0.2);
    opacity: 1;
  }
  24.0625% {
    -webkit-transform: rotate(112.5deg) scale(1);
            transform: rotate(112.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(112.5deg) scale(1);
            transform: rotate(112.5deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l5 {
  0%, 100% {
    -webkit-transform: rotate(112.5deg) scale(0.2);
            transform: rotate(112.5deg) scale(0.2);
    opacity: 1;
  }
  24.0625% {
    -webkit-transform: rotate(112.5deg) scale(1);
            transform: rotate(112.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(112.5deg) scale(1);
            transform: rotate(112.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l6 {
  0%, 100% {
    -webkit-transform: rotate(135deg) scale(0.2);
            transform: rotate(135deg) scale(0.2);
    opacity: 1;
  }
  26.875% {
    -webkit-transform: rotate(135deg) scale(1);
            transform: rotate(135deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(135deg) scale(1);
            transform: rotate(135deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l6 {
  0%, 100% {
    -webkit-transform: rotate(135deg) scale(0.2);
            transform: rotate(135deg) scale(0.2);
    opacity: 1;
  }
  26.875% {
    -webkit-transform: rotate(135deg) scale(1);
            transform: rotate(135deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(135deg) scale(1);
            transform: rotate(135deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l7 {
  0%, 100% {
    -webkit-transform: rotate(157.5deg) scale(0.2);
            transform: rotate(157.5deg) scale(0.2);
    opacity: 1;
  }
  29.6875% {
    -webkit-transform: rotate(157.5deg) scale(1);
            transform: rotate(157.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(157.5deg) scale(1);
            transform: rotate(157.5deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l7 {
  0%, 100% {
    -webkit-transform: rotate(157.5deg) scale(0.2);
            transform: rotate(157.5deg) scale(0.2);
    opacity: 1;
  }
  29.6875% {
    -webkit-transform: rotate(157.5deg) scale(1);
            transform: rotate(157.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(157.5deg) scale(1);
            transform: rotate(157.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l8 {
  0%, 100% {
    -webkit-transform: rotate(180deg) scale(0.2);
            transform: rotate(180deg) scale(0.2);
    opacity: 1;
  }
  32.5% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l8 {
  0%, 100% {
    -webkit-transform: rotate(180deg) scale(0.2);
            transform: rotate(180deg) scale(0.2);
    opacity: 1;
  }
  32.5% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l9 {
  0%, 100% {
    -webkit-transform: rotate(202.5deg) scale(0.2);
            transform: rotate(202.5deg) scale(0.2);
    opacity: 1;
  }
  35.3125% {
    -webkit-transform: rotate(202.5deg) scale(1);
            transform: rotate(202.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(202.5deg) scale(1);
            transform: rotate(202.5deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l9 {
  0%, 100% {
    -webkit-transform: rotate(202.5deg) scale(0.2);
            transform: rotate(202.5deg) scale(0.2);
    opacity: 1;
  }
  35.3125% {
    -webkit-transform: rotate(202.5deg) scale(1);
            transform: rotate(202.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(202.5deg) scale(1);
            transform: rotate(202.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l10 {
  0%, 100% {
    -webkit-transform: rotate(225deg) scale(0.2);
            transform: rotate(225deg) scale(0.2);
    opacity: 1;
  }
  38.125% {
    -webkit-transform: rotate(225deg) scale(1);
            transform: rotate(225deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(225deg) scale(1);
            transform: rotate(225deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l10 {
  0%, 100% {
    -webkit-transform: rotate(225deg) scale(0.2);
            transform: rotate(225deg) scale(0.2);
    opacity: 1;
  }
  38.125% {
    -webkit-transform: rotate(225deg) scale(1);
            transform: rotate(225deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(225deg) scale(1);
            transform: rotate(225deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l11 {
  0%, 100% {
    -webkit-transform: rotate(247.5deg) scale(0.2);
            transform: rotate(247.5deg) scale(0.2);
    opacity: 1;
  }
  40.9375% {
    -webkit-transform: rotate(247.5deg) scale(1);
            transform: rotate(247.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(247.5deg) scale(1);
            transform: rotate(247.5deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l11 {
  0%, 100% {
    -webkit-transform: rotate(247.5deg) scale(0.2);
            transform: rotate(247.5deg) scale(0.2);
    opacity: 1;
  }
  40.9375% {
    -webkit-transform: rotate(247.5deg) scale(1);
            transform: rotate(247.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(247.5deg) scale(1);
            transform: rotate(247.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l12 {
  0%, 100% {
    -webkit-transform: rotate(270deg) scale(0.2);
            transform: rotate(270deg) scale(0.2);
    opacity: 1;
  }
  43.75% {
    -webkit-transform: rotate(270deg) scale(1);
            transform: rotate(270deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(270deg) scale(1);
            transform: rotate(270deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l12 {
  0%, 100% {
    -webkit-transform: rotate(270deg) scale(0.2);
            transform: rotate(270deg) scale(0.2);
    opacity: 1;
  }
  43.75% {
    -webkit-transform: rotate(270deg) scale(1);
            transform: rotate(270deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(270deg) scale(1);
            transform: rotate(270deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l13 {
  0%, 100% {
    -webkit-transform: rotate(292.5deg) scale(0.2);
            transform: rotate(292.5deg) scale(0.2);
    opacity: 1;
  }
  46.5625% {
    -webkit-transform: rotate(292.5deg) scale(1);
            transform: rotate(292.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(292.5deg) scale(1);
            transform: rotate(292.5deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l13 {
  0%, 100% {
    -webkit-transform: rotate(292.5deg) scale(0.2);
            transform: rotate(292.5deg) scale(0.2);
    opacity: 1;
  }
  46.5625% {
    -webkit-transform: rotate(292.5deg) scale(1);
            transform: rotate(292.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(292.5deg) scale(1);
            transform: rotate(292.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l14 {
  0%, 100% {
    -webkit-transform: rotate(315deg) scale(0.2);
            transform: rotate(315deg) scale(0.2);
    opacity: 1;
  }
  49.375% {
    -webkit-transform: rotate(315deg) scale(1);
            transform: rotate(315deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(315deg) scale(1);
            transform: rotate(315deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l14 {
  0%, 100% {
    -webkit-transform: rotate(315deg) scale(0.2);
            transform: rotate(315deg) scale(0.2);
    opacity: 1;
  }
  49.375% {
    -webkit-transform: rotate(315deg) scale(1);
            transform: rotate(315deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(315deg) scale(1);
            transform: rotate(315deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l15 {
  0%, 100% {
    -webkit-transform: rotate(337.5deg) scale(0.2);
            transform: rotate(337.5deg) scale(0.2);
    opacity: 1;
  }
  52.1875% {
    -webkit-transform: rotate(337.5deg) scale(1);
            transform: rotate(337.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(337.5deg) scale(1);
            transform: rotate(337.5deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l15 {
  0%, 100% {
    -webkit-transform: rotate(337.5deg) scale(0.2);
            transform: rotate(337.5deg) scale(0.2);
    opacity: 1;
  }
  52.1875% {
    -webkit-transform: rotate(337.5deg) scale(1);
            transform: rotate(337.5deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(337.5deg) scale(1);
            transform: rotate(337.5deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes l16 {
  0%, 100% {
    -webkit-transform: rotate(360deg) scale(0.2);
            transform: rotate(360deg) scale(0.2);
    opacity: 1;
  }
  55% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes l16 {
  0%, 100% {
    -webkit-transform: rotate(360deg) scale(0.2);
            transform: rotate(360deg) scale(0.2);
    opacity: 1;
  }
  55% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
  60%, 75% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes core {
  12% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  30%, 55% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  57.9% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes core {
  12% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  30%, 55% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  57.9% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes flower {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  60% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes flower {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  60% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */