*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #3498db;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#app .box {
  position: relative;
}
#app .square {
  width: 100px;
  height: 100px;
  background-color: #fff;
}
#app .shadow {
  position: absolute;
  bottom: -2px;
  left: -4px;
  right: -4px;
  height: 2px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.2);
}
#app .up {
  position: relative;
  z-index: 1;
  -webkit-animation: up 1.6s ease-in-out infinite both;
          animation: up 1.6s ease-in-out infinite both;
}
#app .down {
  -webkit-animation: down 1.6s ease-in infinite both;
          animation: down 1.6s ease-in infinite both;
}
#app .rotateIn {
  -webkit-animation: rotateIn 1.6s ease-out infinite both;
          animation: rotateIn 1.6s ease-out infinite both;
}
#app .rotateOut {
  -webkit-animation: rotateOut 1.6s ease-in infinite both;
          animation: rotateOut 1.6s ease-in infinite both;
}
#app .squeeze {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: squeeze 1.6s cubic-bezier(0.72, 0.03, 0.28, 0.97) infinite both;
          animation: squeeze 1.6s cubic-bezier(0.72, 0.03, 0.28, 0.97) infinite both;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  20%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  20%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes up {
  0%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes up {
  0%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@-webkit-keyframes squeeze {
  0%, 4% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.8, 0.4);
            transform: scale(1.8, 0.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes squeeze {
  0%, 4% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.8, 0.4);
            transform: scale(1.8, 0.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  20%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  20%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes rotateOut {
  0%, 80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes rotateOut {
  0%, 80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}/*# sourceMappingURL=index.css.map */