@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #333;
    position: relative;
    .keyboard {
        width: 100%;
        flex-basis: 40%;
        border-top: 2px solid #888;
        padding: 8px 0 0;
        background-color: #666;
        position: relative;
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }
        li {
            padding: 0px 4px 4px;
            input {
                display: none;
            }
            label {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                font-size: 1.6rem;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-family: sans-serif;
                &:hover {
                    background-color: #999;
                }
            }
        }
        .light {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0 0 15px 0 #fff;
            position: absolute;
            top: -120px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
        }
    }
    #btn0:checked ~ .light {
        animation: da 1s, da 1s 1s, da 1s 2s, da 1s 3s, da 1s 4s;
    }
    #btn1:checked ~ .light {
        animation: di 1s, da 1s 1s, da 1s 2s, da 1s 3s, da 1s 4s;
    }
    #btn2:checked ~ .light {
        animation: di 1s, di 1s 1s, da 1s 2s, da 1s 3s, da 1s 4s;
    }
    #btn3:checked ~ .light {
        animation: di 1s, di 1s 1s, di 1s 2s, da 1s 3s, da 1s 4s;
    }
    #btn4:checked ~ .light {
        animation: di 1s, di 1s 1s, di 1s 2s, di 1s 3s, da 1s 4s;
    }
    #btn5:checked ~ .light {
        animation: di 1s, di 1s 1s, di 1s 2s, di 1s 3s, di 1s 4s;
    }
    #btn6:checked ~ .light {
        animation: da 1s, di 1s 1s, di 1s 2s, di 1s 3s, di 1s 4s;
    }
    #btn7:checked ~ .light {
        animation: da 1s, da 1s 1s, di 1s 2s, di 1s 3s, di 1s 4s;
    }
    #btn8:checked ~ .light {
        animation: da 1s, da 1s 1s, da 1s 2s, di 1s 3s, di 1s 4s;
    }
    #btn9:checked ~ .light {
        animation: da 1s, da 1s 1s, da 1s 2s, da 1s 3s, di 1s 4s;
    }
    #btnA:checked ~ .light {
        animation: di 1s, da 1s 1s;
    }
    #btnB:checked ~ .light {
        animation: da 1s, di 1s 1s, di 1s 2s, di 1s 3s;
    }
    #btnC:checked ~ .light {
        animation: da 1s, di 1s 1s, da 1s 2s, di 1s 3s;
    }
    #btnD:checked ~ .light {
        animation: da 1s, di 1s 1s, di 1s 2s;
    }
    #btnE:checked ~ .light {
        animation: di 1s;
    }
    #btnF:checked ~ .light {
        animation: di 1s, di 1s 1s, da 1s 2s, di 1s 3s;
    }
    #btnG:checked ~ .light {
        animation: da 1s, da 1s 1s, di 1s 2s;
    }
    #btnH:checked ~ .light {
        animation: di 1s, di 1s 1s, di 1s 2s, di 1s 3s;
    }
    #btnI:checked ~ .light {
        animation: di 1s, di 1s 1s;
    }
    #btnJ:checked ~ .light {
        animation: di 1s, da 1s 1s, da 1s 2s, da 1s 3s;
    }
    #btnK:checked ~ .light {
        animation: da 1s, di 1s 1s, da 1s 2s;
    }
    #btnL:checked ~ .light {
        animation: di 1s, da 1s 1s, di 1s 2s, di 1s 3s;
    }
    #btnM:checked ~ .light {
        animation: da 1s, da 1s 1s;
    }
    #btnN:checked ~ .light {
        animation: da 1s, di 1s 1s;
    }
    #btnO:checked ~ .light {
        animation: da 1s, da 1s 1s, da 1s 2s;
    }
    #btnP:checked ~ .light {
        animation: di 1s, da 1s 1s, da 1s 2s, di 1s 3s;
    }
    #btnQ:checked ~ .light {
        animation: da 1s, da 1s 1s, di 1s 2s, da 1s 3s;
    }
    #btnR:checked ~ .light {
        animation: di 1s, da 1s 1s, di 1s 2s;
    }
    #btnS:checked ~ .light {
        animation: di 1s, di 1s 1s, di 1s 2s;
    }
    #btnT:checked ~ .light {
        animation: da 1s;
    }
    #btnU:checked ~ .light {
        animation: di 1s, di 1s 1s, da 1s 2s;
    }
    #btnV:checked ~ .light {
        animation: di 1s, di 1s 1s, di 1s 2s, da 1s 3s;
    }
    #btnW:checked ~ .light {
        animation: di 1s, da 1s 1s, da 1s 2s;
    }
    #btnX:checked ~ .light {
        animation: da 1s, di 1s 1s, di 1s 2s, da 1s 3s;
    }
    #btnY:checked ~ .light {
        animation: da 1s, di 1s 1s, da 1s 2s, da 1s 3s;
    }
    #btnZ:checked ~ .light {
        animation: da 1s, da 1s 1s, di 1s 2s, di 1s 3s;
    }
}

@keyframes di {
    0%,
    40%,
    60%,
    100% {
        opacity: 0;
    }
    41%,
    59% {
        opacity: 1;
    }
}
@keyframes da {
    0%,
    15%,
    85%,
    100% {
        opacity: 0;
    }
    16%,
    84% {
        opacity: 1;
    }
}
