@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #264057;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80%;
    height: 75%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 4px 8px 10px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    .icon {
        width: 24px;
    }
    .title {
        background-color: #5f98cd;
        color: #fff;
        width: 100%;
        padding: 20px;
    }
    .menu {
        height: 18px;
        width: 30px;
        position: relative;
        opacity: 0.5;
        transition: opacity 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 8px;
        background-color: #fff;
        &:first-child {
            top: 0;
            bottom: auto;
            &::after {
                content: '';
                display: inline-block;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #fff;
                border: 2px solid #5f98cd;
                position: absolute;
                top: 50%;
                right: 0%;
                transform: translate(20%, -50%);
            }
        }
    }
}
