@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #4b4841;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        width: 320px;
        height: 180px;
        position: relative;
    }
    .front,
    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffce4e;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        img {
            width: 50%;
        }
    }
    .front {
        z-index: 2;
    }
    .back {
        transform: rotateY(180deg);
    }
}
