*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #27ae60;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  position: absolute;
}
.box.b1 {
  -webkit-animation: inOut1 6s ease-in-out alternate infinite;
          animation: inOut1 6s ease-in-out alternate infinite;
}
.box.b1 .dot {
  opacity: 1;
}
.box.b2 {
  -webkit-animation: inOut2 6s ease-in-out alternate infinite;
          animation: inOut2 6s ease-in-out alternate infinite;
}
.box.b2 .dot {
  opacity: 0.9;
}
.box.b3 {
  -webkit-animation: inOut3 6s ease-in-out alternate infinite;
          animation: inOut3 6s ease-in-out alternate infinite;
}
.box.b3 .dot {
  opacity: 0.8;
}
.box.b4 {
  -webkit-animation: inOut4 6s ease-in-out alternate infinite;
          animation: inOut4 6s ease-in-out alternate infinite;
}
.box.b4 .dot {
  opacity: 0.7;
}
.box.b5 {
  -webkit-animation: inOut5 6s ease-in-out alternate infinite;
          animation: inOut5 6s ease-in-out alternate infinite;
}
.box.b5 .dot {
  opacity: 0.6;
}
.box.b6 {
  -webkit-animation: inOut6 6s ease-in-out alternate infinite;
          animation: inOut6 6s ease-in-out alternate infinite;
}
.box.b6 .dot {
  opacity: 0.5;
}
.box .dot {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.box .dot.d1 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(0deg);
          transform: translate(0, -100px) rotate(0deg);
}
.box .dot.d2 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(30deg);
          transform: translate(0, -100px) rotate(30deg);
}
.box .dot.d3 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(60deg);
          transform: translate(0, -100px) rotate(60deg);
}
.box .dot.d4 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(90deg);
          transform: translate(0, -100px) rotate(90deg);
}
.box .dot.d5 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(120deg);
          transform: translate(0, -100px) rotate(120deg);
}
.box .dot.d6 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(150deg);
          transform: translate(0, -100px) rotate(150deg);
}
.box .dot.d7 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(180deg);
          transform: translate(0, -100px) rotate(180deg);
}
.box .dot.d8 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(210deg);
          transform: translate(0, -100px) rotate(210deg);
}
.box .dot.d9 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(240deg);
          transform: translate(0, -100px) rotate(240deg);
}
.box .dot.d10 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(270deg);
          transform: translate(0, -100px) rotate(270deg);
}
.box .dot.d11 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(300deg);
          transform: translate(0, -100px) rotate(300deg);
}
.box .dot.d12 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(330deg);
          transform: translate(0, -100px) rotate(330deg);
}

@-webkit-keyframes inOut1 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes inOut1 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes inOut2 {
  0% {
    -webkit-transform: scale(0.8571428571) rotate(5deg);
            transform: scale(0.8571428571) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(0.9545454545) rotate(370deg);
            transform: scale(0.9545454545) rotate(370deg);
  }
}
@keyframes inOut2 {
  0% {
    -webkit-transform: scale(0.8571428571) rotate(5deg);
            transform: scale(0.8571428571) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(0.9545454545) rotate(370deg);
            transform: scale(0.9545454545) rotate(370deg);
  }
}
@-webkit-keyframes inOut3 {
  0% {
    -webkit-transform: scale(0.7142857143) rotate(10deg);
            transform: scale(0.7142857143) rotate(10deg);
  }
  100% {
    -webkit-transform: scale(0.9090909091) rotate(380deg);
            transform: scale(0.9090909091) rotate(380deg);
  }
}
@keyframes inOut3 {
  0% {
    -webkit-transform: scale(0.7142857143) rotate(10deg);
            transform: scale(0.7142857143) rotate(10deg);
  }
  100% {
    -webkit-transform: scale(0.9090909091) rotate(380deg);
            transform: scale(0.9090909091) rotate(380deg);
  }
}
@-webkit-keyframes inOut4 {
  0% {
    -webkit-transform: scale(0.5714285714) rotate(15deg);
            transform: scale(0.5714285714) rotate(15deg);
  }
  100% {
    -webkit-transform: scale(0.8636363636) rotate(390deg);
            transform: scale(0.8636363636) rotate(390deg);
  }
}
@keyframes inOut4 {
  0% {
    -webkit-transform: scale(0.5714285714) rotate(15deg);
            transform: scale(0.5714285714) rotate(15deg);
  }
  100% {
    -webkit-transform: scale(0.8636363636) rotate(390deg);
            transform: scale(0.8636363636) rotate(390deg);
  }
}
@-webkit-keyframes inOut5 {
  0% {
    -webkit-transform: scale(0.4285714286) rotate(20deg);
            transform: scale(0.4285714286) rotate(20deg);
  }
  100% {
    -webkit-transform: scale(0.8181818182) rotate(400deg);
            transform: scale(0.8181818182) rotate(400deg);
  }
}
@keyframes inOut5 {
  0% {
    -webkit-transform: scale(0.4285714286) rotate(20deg);
            transform: scale(0.4285714286) rotate(20deg);
  }
  100% {
    -webkit-transform: scale(0.8181818182) rotate(400deg);
            transform: scale(0.8181818182) rotate(400deg);
  }
}
@-webkit-keyframes inOut6 {
  0% {
    -webkit-transform: scale(0.2857142857) rotate(25deg);
            transform: scale(0.2857142857) rotate(25deg);
  }
  100% {
    -webkit-transform: scale(0.7727272727) rotate(410deg);
            transform: scale(0.7727272727) rotate(410deg);
  }
}
@keyframes inOut6 {
  0% {
    -webkit-transform: scale(0.2857142857) rotate(25deg);
            transform: scale(0.2857142857) rotate(25deg);
  }
  100% {
    -webkit-transform: scale(0.7727272727) rotate(410deg);
            transform: scale(0.7727272727) rotate(410deg);
  }
}/*# sourceMappingURL=index.css.map */