*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #27ae60;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  position: relative;
}
.box .dot {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.box .dot.d1 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(0deg);
          transform: translate(0, -100px) rotate(0deg);
}
.box .dot.d2 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(30deg);
          transform: translate(0, -100px) rotate(30deg);
}
.box .dot.d3 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(60deg);
          transform: translate(0, -100px) rotate(60deg);
}
.box .dot.d4 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(90deg);
          transform: translate(0, -100px) rotate(90deg);
}
.box .dot.d5 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(120deg);
          transform: translate(0, -100px) rotate(120deg);
}
.box .dot.d6 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(150deg);
          transform: translate(0, -100px) rotate(150deg);
}
.box .dot.d7 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(180deg);
          transform: translate(0, -100px) rotate(180deg);
}
.box .dot.d8 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(210deg);
          transform: translate(0, -100px) rotate(210deg);
}
.box .dot.d9 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(240deg);
          transform: translate(0, -100px) rotate(240deg);
}
.box .dot.d10 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(270deg);
          transform: translate(0, -100px) rotate(270deg);
}
.box .dot.d11 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(300deg);
          transform: translate(0, -100px) rotate(300deg);
}
.box .dot.d12 {
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform: translate(0, -100px) rotate(330deg);
          transform: translate(0, -100px) rotate(330deg);
}/*# sourceMappingURL=index.css.map */