@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
$googleFonts: 'Noto Sans TC', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: $googleFonts;
    font-size: 10px;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background: linear-gradient(#28404e 0%, #1c2e38 100%);
    border-radius: 8px;
    .title {
        text-align: center;
        color: #fff;
        margin: 48px 0 24px;
        p {
            font-size: 1.6rem;
            font-weight: 100;
        }
        h3 {
            font-size: 2.4rem;
            line-height: 1;
        }
    }
    .circle {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        p {
            font-size: 2rem;
            line-height: 1;
            font-weight: 600;
            color: #fff;
        }
        span {
            font-size: 1.4rem;
            color: #648192;
        }
        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            circle {
                stroke: #1b2a33;
                stroke-width: 10;
                fill: transparent;
            }
            .bar {
                stroke: #27e1ae;
                stroke-linecap: round;
                stroke-dasharray: 352.56;
                stroke-dashoffset: 60;
                transform: rotate(-90deg);
                transform-origin: center;
                animation: big 1.5s ease-out;
            }
        }
    }
    .big {
        margin-bottom: 12px;
    }
    .small {
        display: flex;
        justify-content: center;
        align-items: center;
        .circle {
            width: 100px;
            height: 100px;
            &:nth-child(1) {
                margin-right: 12px;
            }
            &:nth-child(2) {
                margin-left: 12px;
            }
            p {
                font-size: 1.8rem;
            }
            span {
                font-size: 1.2rem;
            }
        }
    }
}
@keyframes big {
    from {
        stroke-dashoffset: (52 * 2 * 3.14);
    }
    to {
        stroke-dashoffset: 60;
    }
}
