@charset 'UTF-8';
@keyframes circleRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin circleStyle($w: 70%, $h: 70%) {
    width: $w;
    height: $h;
    border-radius: 50%;
    background-color: #fff;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 8px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(25);
}
.circle {
    @include circleStyle(80px, 80px);
    position: relative;
    filter: blur(15px);
    .c1 {
        @include circleStyle;
        transform-origin: 45% 71%;
        transform: rotate(0deg);
        animation: circleRotate 2s linear infinite;
    }
    .c2 {
        @include circleStyle;
        transform-origin: 40% 71%;
        position: absolute;
        top: -7px;
        left: 27px;
        animation: circleRotate 2s linear infinite;
    }
    .c3 {
        @include circleStyle;
        transform-origin: 54% 61%;
        position: absolute;
        top: 28px;
        left: 17px;
        animation: circleRotate 2s linear infinite;
    }
}
