@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
$googleFonts: 'Noto Sans TC', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: $googleFonts;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.2;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background: linear-gradient(#fdca31 0%, #fda231 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    .todo {
        width: 60%;
        background-color: #fff;
        color: #777;
        padding: 24px;
    }
    h3 {
        font-size: 2rem;
        text-align: center;
        margin: 0 0 4px;
    }
    p {
        font-size: 1.4rem;
        text-align: center;
        margin: 0 0 24px;
    }
    ul {
        border-top: 1px solid #ddd;
        padding: 24px 0 0;
        margin: 0;
        list-style: none;
    }
    li {
        font-size: 1.4rem;
        margin: 0 0 12px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child {
            margin: 0;
        }
    }
    input {
        display: none;
        &:checked ~ label {
            opacity: 0.5;
        }
        &:checked ~ .dot {
            transform: scale(1.2);
            opacity: 0;
        }
        &:checked ~ .check {
            opacity: 0.5;
            transition-delay: 0.5s;
            &::before {
                width: 8px;
                transition-delay: 0.75s;
            }
            &::after {
                width: 12px;
                transition-delay: 0.9s;
            }
        }
    }
    label {
        cursor: pointer;
        transition: opacity 0.5s;
    }
    .dot {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #777;
        transform: scale(1);
        transition: all 1s;
    }
    .check {
        position: absolute;
        top: 3px;
        right: 0;
        width: 14px;
        height: 14px;
        opacity: 0;
        transition: all 0.5s;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: #777;
            transition: all 0.25s;
        }
        &::before {
            width: 0px;
            height: 2px;
            transform: rotate(45deg);
            top: 7px;
        }
        &::after {
            width: 0px;
            height: 2px;
            transform: rotate(-45deg);
            top: 6px;
            left: 4px;
        }
    }
}
