*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #4b4841;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#app .card {
  width: 320px;
  height: 180px;
  position: relative;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
#app .card:hover {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#app .card:hover .front {
  opacity: 0;
}
#app .card:hover .back {
  opacity: 1;
}
#app .front,
#app .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffce4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
#app .front img,
#app .back img {
  width: 40%;
}
#app .front {
  z-index: 2;
}
#app .front img {
  -webkit-animation: bike linear 0.4s infinite alternate;
          animation: bike linear 0.4s infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
#app .road {
  width: 40%;
  height: 4px;
  position: absolute;
  top: 126px;
  overflow: hidden;
}
#app .road .r1 {
  position: absolute;
  top: 0;
  right: -24px;
  height: 3px;
  width: 4px;
  background-color: #4b4841;
  -webkit-animation: road 0.9s linear 0.2s infinite;
          animation: road 0.9s linear 0.2s infinite;
}
#app .road .r2 {
  position: absolute;
  top: 0;
  right: -24px;
  height: 3px;
  width: 6px;
  background-color: #4b4841;
  -webkit-animation: road 1s linear 0.5s infinite;
          animation: road 1s linear 0.5s infinite;
}
#app .road .r3 {
  position: absolute;
  top: 0;
  right: -24px;
  height: 3px;
  width: 8px;
  background-color: #4b4841;
  -webkit-animation: road 0.9s linear 0.5s infinite;
          animation: road 0.9s linear 0.5s infinite;
}
#app .road .r4 {
  position: absolute;
  top: 0;
  right: -24px;
  height: 3px;
  width: 10px;
  background-color: #4b4841;
  -webkit-animation: road 0.9s linear 0.5s infinite;
          animation: road 0.9s linear 0.5s infinite;
}
#app .road .r5 {
  position: absolute;
  top: 0;
  right: -24px;
  height: 3px;
  width: 12px;
  background-color: #4b4841;
  -webkit-animation: road 0.9s linear 0.9s infinite;
          animation: road 0.9s linear 0.9s infinite;
}
#app .road .r6 {
  position: absolute;
  top: 0;
  right: -24px;
  height: 3px;
  width: 14px;
  background-color: #4b4841;
  -webkit-animation: road 1s linear 1s infinite;
          animation: road 1s linear 1s infinite;
}
#app .back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}
#app .back img {
  -webkit-animation: helicopter linear 0.4s infinite alternate;
          animation: helicopter linear 0.4s infinite alternate;
}
#app .sky {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}
#app .sky .c1 {
  position: absolute;
  right: -25px;
  top: 34px;
  height: 3px;
  width: 18px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.8s linear 0.2s infinite;
          animation: road 0.8s linear 0.2s infinite;
}
#app .sky .c2 {
  position: absolute;
  right: -25px;
  top: 48px;
  height: 3px;
  width: 10.9px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.8s linear 0.5s infinite;
          animation: road 0.8s linear 0.5s infinite;
}
#app .sky .c3 {
  position: absolute;
  right: -25px;
  top: 62px;
  height: 3px;
  width: 11.6px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.7s linear 0.7s infinite;
          animation: road 0.7s linear 0.7s infinite;
}
#app .sky .c4 {
  position: absolute;
  right: -25px;
  top: 76px;
  height: 3px;
  width: 23.6px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.8s linear 1s infinite;
          animation: road 0.8s linear 1s infinite;
}
#app .sky .c5 {
  position: absolute;
  right: -25px;
  top: 90px;
  height: 3px;
  width: 15.6px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.8s linear 0.7s infinite;
          animation: road 0.8s linear 0.7s infinite;
}
#app .sky .c6 {
  position: absolute;
  right: -25px;
  top: 104px;
  height: 3px;
  width: 10.9px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.7s linear 0.7s infinite;
          animation: road 0.7s linear 0.7s infinite;
}
#app .sky .c7 {
  position: absolute;
  right: -25px;
  top: 118px;
  height: 3px;
  width: 21.5px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.7s linear 0.3s infinite;
          animation: road 0.7s linear 0.3s infinite;
}
#app .sky .c8 {
  position: absolute;
  right: -25px;
  top: 132px;
  height: 3px;
  width: 18.2px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.8s linear 0.6s infinite;
          animation: road 0.8s linear 0.6s infinite;
}
#app .sky .c9 {
  position: absolute;
  right: -25px;
  top: 146px;
  height: 3px;
  width: 23.2px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.8s linear 0.5s infinite;
          animation: road 0.8s linear 0.5s infinite;
}
#app .sky .c10 {
  position: absolute;
  right: -25px;
  top: 160px;
  height: 3px;
  width: 18.7px;
  background: #4b4841;
  border-radius: 3px;
  -webkit-animation: road 0.7s linear 0.4s infinite;
          animation: road 0.7s linear 0.4s infinite;
}

@-webkit-keyframes bike {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1.08);
            transform: scaleY(1.08);
  }
}

@keyframes bike {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1.08);
            transform: scaleY(1.08);
  }
}
@-webkit-keyframes helicopter {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}
@keyframes helicopter {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}
@-webkit-keyframes road {
  0% {
    -webkit-transform: translate(0) scaleX(1);
            transform: translate(0) scaleX(1);
  }
  100% {
    -webkit-transform: translate(-200px) scaleX(0.8);
            transform: translate(-200px) scaleX(0.8);
  }
}
@keyframes road {
  0% {
    -webkit-transform: translate(0) scaleX(1);
            transform: translate(0) scaleX(1);
  }
  100% {
    -webkit-transform: translate(-200px) scaleX(0.8);
            transform: translate(-200px) scaleX(0.8);
  }
}/*# sourceMappingURL=index.css.map */