@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    .top {
        background-color: #444;
        flex-basis: 50%;
    }
    .bottom {
        background-color: #37d493;
        flex-basis: 50%;
    }
    .flip {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .front,
        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transform: rotateX(0deg);
            animation: elastic 5s ease-in-out infinite;
        }
        .front {
            background-color: #37d493;
            z-index: 1;
        }
        .back {
            background-color: #444;
            height: 98%;
            backface-visibility: hidden;
            z-index: 2;
        }
    }
}
@keyframes elastic {
    0% {
        transform: rotateX(90deg);
    }
    15% {
        transform: rotateX(150deg);
    }
    20% {
        transform: rotateX(50deg);
    }
    25% {
        transform: rotateX(120deg);
    }
    30% {
        transform: rotateX(70deg);
    }
    35% {
        transform: rotateX(100deg);
    }
    40% {
        transform: rotateX(83deg);
    }
    45% {
        transform: rotateX(93deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    65% {
        transform: rotateX(30deg);
    }
    70% {
        transform: rotateX(130deg);
    }
    75% {
        transform: rotateX(60deg);
    }
    80% {
        transform: rotateX(110deg);
    }
    85% {
        transform: rotateX(80deg);
    }
    90% {
        transform: rotateX(97deg);
    }
    95% {
        transform: rotateX(87deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}
