*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #1e3242;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
#app .container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
}
#app .container .ring {
  position: absolute;
  width: 200px;
  height: 200px;
}
#app .container .stripe {
  position: absolute;
  width: 2px;
  height: 20px;
  top: 90px;
  left: 99px;
  background-color: #c3dcec;
}
#app .container .r1 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) 0s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) 0s infinite;
}
#app .container .r1 .s1 {
  -webkit-transform: rotate(-4.405438796deg) translate3d(0, 66.171860027px, 0) scaleY(0.6617186003);
          transform: rotate(-4.405438796deg) translate3d(0, 66.171860027px, 0) scaleY(0.6617186003);
}
#app .container .r1 .s2 {
  -webkit-transform: rotate(7.7102109841deg) translate3d(0, 93.4945164813px, 0) scaleY(0.9349451648);
          transform: rotate(7.7102109841deg) translate3d(0, 93.4945164813px, 0) scaleY(0.9349451648);
}
#app .container .r1 .s3 {
  -webkit-transform: rotate(21.4494415128deg) translate3d(0, 65.791747001px, 0) scaleY(0.65791747);
          transform: rotate(21.4494415128deg) translate3d(0, 65.791747001px, 0) scaleY(0.65791747);
}
#app .container .r1 .s4 {
  -webkit-transform: rotate(37.7161980743deg) translate3d(0, 99.0638134053px, 0) scaleY(0.9906381341);
          transform: rotate(37.7161980743deg) translate3d(0, 99.0638134053px, 0) scaleY(0.9906381341);
}
#app .container .r1 .s5 {
  -webkit-transform: rotate(52.6983162615deg) translate3d(0, 65.7046381502px, 0) scaleY(0.6570463815);
          transform: rotate(52.6983162615deg) translate3d(0, 65.7046381502px, 0) scaleY(0.6570463815);
}
#app .container .r1 .s6 {
  -webkit-transform: rotate(67.4782177972deg) translate3d(0, 98.5082811404px, 0) scaleY(0.9850828114);
          transform: rotate(67.4782177972deg) translate3d(0, 98.5082811404px, 0) scaleY(0.9850828114);
}
#app .container .r1 .s7 {
  -webkit-transform: rotate(83.4002125214deg) translate3d(0, 80.7937043492px, 0) scaleY(0.8079370435);
          transform: rotate(83.4002125214deg) translate3d(0, 80.7937043492px, 0) scaleY(0.8079370435);
}
#app .container .r1 .s8 {
  -webkit-transform: rotate(100.8352465228deg) translate3d(0, 92.4451508907px, 0) scaleY(0.9244515089);
          transform: rotate(100.8352465228deg) translate3d(0, 92.4451508907px, 0) scaleY(0.9244515089);
}
#app .container .r1 .s9 {
  -webkit-transform: rotate(110.1611012559deg) translate3d(0, 66.2958688775px, 0) scaleY(0.6629586888);
          transform: rotate(110.1611012559deg) translate3d(0, 66.2958688775px, 0) scaleY(0.6629586888);
}
#app .container .r1 .s10 {
  -webkit-transform: rotate(130.8865425436deg) translate3d(0, 63.4635990908px, 0) scaleY(0.6346359909);
          transform: rotate(130.8865425436deg) translate3d(0, 63.4635990908px, 0) scaleY(0.6346359909);
}
#app .container .r1 .s11 {
  -webkit-transform: rotate(147.1692243293deg) translate3d(0, 85.3166133872px, 0) scaleY(0.8531661339);
          transform: rotate(147.1692243293deg) translate3d(0, 85.3166133872px, 0) scaleY(0.8531661339);
}
#app .container .r1 .s12 {
  -webkit-transform: rotate(162.173647695deg) translate3d(0, 72.0449634756px, 0) scaleY(0.7204496348);
          transform: rotate(162.173647695deg) translate3d(0, 72.0449634756px, 0) scaleY(0.7204496348);
}
#app .container .r1 .s13 {
  -webkit-transform: rotate(172.6413416124deg) translate3d(0, 92.1169169319px, 0) scaleY(0.9211691693);
          transform: rotate(172.6413416124deg) translate3d(0, 92.1169169319px, 0) scaleY(0.9211691693);
}
#app .container .r1 .s14 {
  -webkit-transform: rotate(185.1867023805deg) translate3d(0, 67.0650791304px, 0) scaleY(0.6706507913);
          transform: rotate(185.1867023805deg) translate3d(0, 67.0650791304px, 0) scaleY(0.6706507913);
}
#app .container .r1 .s15 {
  -webkit-transform: rotate(205.8616915321deg) translate3d(0, 89.1491708842px, 0) scaleY(0.8914917088);
          transform: rotate(205.8616915321deg) translate3d(0, 89.1491708842px, 0) scaleY(0.8914917088);
}
#app .container .r1 .s16 {
  -webkit-transform: rotate(223.2998810318deg) translate3d(0, 96.4899710884px, 0) scaleY(0.9648997109);
          transform: rotate(223.2998810318deg) translate3d(0, 96.4899710884px, 0) scaleY(0.9648997109);
}
#app .container .r1 .s17 {
  -webkit-transform: rotate(234.7067776293deg) translate3d(0, 79.2672304793px, 0) scaleY(0.7926723048);
          transform: rotate(234.7067776293deg) translate3d(0, 79.2672304793px, 0) scaleY(0.7926723048);
}
#app .container .r1 .s18 {
  -webkit-transform: rotate(253.8569184913deg) translate3d(0, 62.9180202262px, 0) scaleY(0.6291802023);
          transform: rotate(253.8569184913deg) translate3d(0, 62.9180202262px, 0) scaleY(0.6291802023);
}
#app .container .r1 .s19 {
  -webkit-transform: rotate(266.0712462701deg) translate3d(0, 82.1238400271px, 0) scaleY(0.8212384003);
          transform: rotate(266.0712462701deg) translate3d(0, 82.1238400271px, 0) scaleY(0.8212384003);
}
#app .container .r1 .s20 {
  -webkit-transform: rotate(279.1151394504deg) translate3d(0, 63.0752361827px, 0) scaleY(0.6307523618);
          transform: rotate(279.1151394504deg) translate3d(0, 63.0752361827px, 0) scaleY(0.6307523618);
}
#app .container .r1 .s21 {
  -webkit-transform: rotate(295.9440140485deg) translate3d(0, 99.4024959551px, 0) scaleY(0.9940249596);
          transform: rotate(295.9440140485deg) translate3d(0, 99.4024959551px, 0) scaleY(0.9940249596);
}
#app .container .r1 .s22 {
  -webkit-transform: rotate(314.3356551746deg) translate3d(0, 80.7948190816px, 0) scaleY(0.8079481908);
          transform: rotate(314.3356551746deg) translate3d(0, 80.7948190816px, 0) scaleY(0.8079481908);
}
#app .container .r1 .s23 {
  -webkit-transform: rotate(327.2332964583deg) translate3d(0, 97.0715377395px, 0) scaleY(0.9707153774);
          transform: rotate(327.2332964583deg) translate3d(0, 97.0715377395px, 0) scaleY(0.9707153774);
}
#app .container .r1 .s24 {
  -webkit-transform: rotate(342.7336090327deg) translate3d(0, 71.3891623704px, 0) scaleY(0.7138916237);
          transform: rotate(342.7336090327deg) translate3d(0, 71.3891623704px, 0) scaleY(0.7138916237);
}
#app .container .r2 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.2s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.2s infinite;
}
#app .container .r2 .s1 {
  -webkit-transform: rotate(-3.5411622745deg) translate3d(0, 64.0526171715px, 0) scaleY(0.6405261717);
          transform: rotate(-3.5411622745deg) translate3d(0, 64.0526171715px, 0) scaleY(0.6405261717);
}
#app .container .r2 .s2 {
  -webkit-transform: rotate(10.2763281085deg) translate3d(0, 71.2856591482px, 0) scaleY(0.7128565915);
          transform: rotate(10.2763281085deg) translate3d(0, 71.2856591482px, 0) scaleY(0.7128565915);
}
#app .container .r2 .s3 {
  -webkit-transform: rotate(29.0351329331deg) translate3d(0, 78.0177370947px, 0) scaleY(0.7801773709);
          transform: rotate(29.0351329331deg) translate3d(0, 78.0177370947px, 0) scaleY(0.7801773709);
}
#app .container .r2 .s4 {
  -webkit-transform: rotate(35.5915130112deg) translate3d(0, 86.7868868677px, 0) scaleY(0.8678688687);
          transform: rotate(35.5915130112deg) translate3d(0, 86.7868868677px, 0) scaleY(0.8678688687);
}
#app .container .r2 .s5 {
  -webkit-transform: rotate(55.4279844515deg) translate3d(0, 71.1653889638px, 0) scaleY(0.7116538896);
          transform: rotate(55.4279844515deg) translate3d(0, 71.1653889638px, 0) scaleY(0.7116538896);
}
#app .container .r2 .s6 {
  -webkit-transform: rotate(72.2097153282deg) translate3d(0, 96.9164976715px, 0) scaleY(0.9691649767);
          transform: rotate(72.2097153282deg) translate3d(0, 96.9164976715px, 0) scaleY(0.9691649767);
}
#app .container .r2 .s7 {
  -webkit-transform: rotate(85.1673177086deg) translate3d(0, 69.6338599123px, 0) scaleY(0.6963385991);
          transform: rotate(85.1673177086deg) translate3d(0, 69.6338599123px, 0) scaleY(0.6963385991);
}
#app .container .r2 .s8 {
  -webkit-transform: rotate(104.5090391092deg) translate3d(0, 67.0754325414px, 0) scaleY(0.6707543254);
          transform: rotate(104.5090391092deg) translate3d(0, 67.0754325414px, 0) scaleY(0.6707543254);
}
#app .container .r2 .s9 {
  -webkit-transform: rotate(111.5183701856deg) translate3d(0, 62.202269801px, 0) scaleY(0.622022698);
          transform: rotate(111.5183701856deg) translate3d(0, 62.202269801px, 0) scaleY(0.622022698);
}
#app .container .r2 .s10 {
  -webkit-transform: rotate(128.8940799105deg) translate3d(0, 61.4456969714px, 0) scaleY(0.6144569697);
          transform: rotate(128.8940799105deg) translate3d(0, 61.4456969714px, 0) scaleY(0.6144569697);
}
#app .container .r2 .s11 {
  -webkit-transform: rotate(141.7370774239deg) translate3d(0, 97.3670652078px, 0) scaleY(0.9736706521);
          transform: rotate(141.7370774239deg) translate3d(0, 97.3670652078px, 0) scaleY(0.9736706521);
}
#app .container .r2 .s12 {
  -webkit-transform: rotate(163.5306400969deg) translate3d(0, 78.9763998417px, 0) scaleY(0.7897639984);
          transform: rotate(163.5306400969deg) translate3d(0, 78.9763998417px, 0) scaleY(0.7897639984);
}
#app .container .r2 .s13 {
  -webkit-transform: rotate(176.5725297734deg) translate3d(0, 72.3329328055px, 0) scaleY(0.7233293281);
          transform: rotate(176.5725297734deg) translate3d(0, 72.3329328055px, 0) scaleY(0.7233293281);
}
#app .container .r2 .s14 {
  -webkit-transform: rotate(188.740803106deg) translate3d(0, 83.8650986959px, 0) scaleY(0.838650987);
          transform: rotate(188.740803106deg) translate3d(0, 83.8650986959px, 0) scaleY(0.838650987);
}
#app .container .r2 .s15 {
  -webkit-transform: rotate(206.7761249002deg) translate3d(0, 72.3362754828px, 0) scaleY(0.7233627548);
          transform: rotate(206.7761249002deg) translate3d(0, 72.3362754828px, 0) scaleY(0.7233627548);
}
#app .container .r2 .s16 {
  -webkit-transform: rotate(216.1088698936deg) translate3d(0, 69.2076181394px, 0) scaleY(0.6920761814);
          transform: rotate(216.1088698936deg) translate3d(0, 69.2076181394px, 0) scaleY(0.6920761814);
}
#app .container .r2 .s17 {
  -webkit-transform: rotate(231.5981593954deg) translate3d(0, 93.328413659px, 0) scaleY(0.9332841366);
          transform: rotate(231.5981593954deg) translate3d(0, 93.328413659px, 0) scaleY(0.9332841366);
}
#app .container .r2 .s18 {
  -webkit-transform: rotate(245.6772463041deg) translate3d(0, 71.7825399399px, 0) scaleY(0.7178253994);
          transform: rotate(245.6772463041deg) translate3d(0, 71.7825399399px, 0) scaleY(0.7178253994);
}
#app .container .r2 .s19 {
  -webkit-transform: rotate(267.0786627533deg) translate3d(0, 76.4893683181px, 0) scaleY(0.7648936832);
          transform: rotate(267.0786627533deg) translate3d(0, 76.4893683181px, 0) scaleY(0.7648936832);
}
#app .container .r2 .s20 {
  -webkit-transform: rotate(277.2686198907deg) translate3d(0, 91.1821504693px, 0) scaleY(0.9118215047);
          transform: rotate(277.2686198907deg) translate3d(0, 91.1821504693px, 0) scaleY(0.9118215047);
}
#app .container .r2 .s21 {
  -webkit-transform: rotate(299.4777254732deg) translate3d(0, 96.6032508694px, 0) scaleY(0.9660325087);
          transform: rotate(299.4777254732deg) translate3d(0, 96.6032508694px, 0) scaleY(0.9660325087);
}
#app .container .r2 .s22 {
  -webkit-transform: rotate(313.2772152993deg) translate3d(0, 76.9294920443px, 0) scaleY(0.7692949204);
          transform: rotate(313.2772152993deg) translate3d(0, 76.9294920443px, 0) scaleY(0.7692949204);
}
#app .container .r2 .s23 {
  -webkit-transform: rotate(328.7785035537deg) translate3d(0, 66.0359074693px, 0) scaleY(0.6603590747);
          transform: rotate(328.7785035537deg) translate3d(0, 66.0359074693px, 0) scaleY(0.6603590747);
}
#app .container .r2 .s24 {
  -webkit-transform: rotate(336.3006853889deg) translate3d(0, 93.8830339392px, 0) scaleY(0.9388303394);
          transform: rotate(336.3006853889deg) translate3d(0, 93.8830339392px, 0) scaleY(0.9388303394);
}
#app .container .r3 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.4s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.4s infinite;
}
#app .container .r3 .s1 {
  -webkit-transform: rotate(-1.3721780921deg) translate3d(0, 94.3388424913px, 0) scaleY(0.9433884249);
          transform: rotate(-1.3721780921deg) translate3d(0, 94.3388424913px, 0) scaleY(0.9433884249);
}
#app .container .r3 .s2 {
  -webkit-transform: rotate(13.6160095584deg) translate3d(0, 81.8531690595px, 0) scaleY(0.8185316906);
          transform: rotate(13.6160095584deg) translate3d(0, 81.8531690595px, 0) scaleY(0.8185316906);
}
#app .container .r3 .s3 {
  -webkit-transform: rotate(24.3972025748deg) translate3d(0, 93.9742357652px, 0) scaleY(0.9397423577);
          transform: rotate(24.3972025748deg) translate3d(0, 93.9742357652px, 0) scaleY(0.9397423577);
}
#app .container .r3 .s4 {
  -webkit-transform: rotate(44.7411242774deg) translate3d(0, 89.4377735944px, 0) scaleY(0.8943777359);
          transform: rotate(44.7411242774deg) translate3d(0, 89.4377735944px, 0) scaleY(0.8943777359);
}
#app .container .r3 .s5 {
  -webkit-transform: rotate(51.5059781967deg) translate3d(0, 96.9240529482px, 0) scaleY(0.9692405295);
          transform: rotate(51.5059781967deg) translate3d(0, 96.9240529482px, 0) scaleY(0.9692405295);
}
#app .container .r3 .s6 {
  -webkit-transform: rotate(69.8155941338deg) translate3d(0, 61.3431015719px, 0) scaleY(0.6134310157);
          transform: rotate(69.8155941338deg) translate3d(0, 61.3431015719px, 0) scaleY(0.6134310157);
}
#app .container .r3 .s7 {
  -webkit-transform: rotate(89.6451806915deg) translate3d(0, 91.9174458194px, 0) scaleY(0.9191744582);
          transform: rotate(89.6451806915deg) translate3d(0, 91.9174458194px, 0) scaleY(0.9191744582);
}
#app .container .r3 .s8 {
  -webkit-transform: rotate(97.6005299145deg) translate3d(0, 95.1062185788px, 0) scaleY(0.9510621858);
          transform: rotate(97.6005299145deg) translate3d(0, 95.1062185788px, 0) scaleY(0.9510621858);
}
#app .container .r3 .s9 {
  -webkit-transform: rotate(118.5448360574deg) translate3d(0, 79.0832656376px, 0) scaleY(0.7908326564);
          transform: rotate(118.5448360574deg) translate3d(0, 79.0832656376px, 0) scaleY(0.7908326564);
}
#app .container .r3 .s10 {
  -webkit-transform: rotate(133.593388203deg) translate3d(0, 88.3473348012px, 0) scaleY(0.883473348);
          transform: rotate(133.593388203deg) translate3d(0, 88.3473348012px, 0) scaleY(0.883473348);
}
#app .container .r3 .s11 {
  -webkit-transform: rotate(143.3538896754deg) translate3d(0, 77.6197327167px, 0) scaleY(0.7761973272);
          transform: rotate(143.3538896754deg) translate3d(0, 77.6197327167px, 0) scaleY(0.7761973272);
}
#app .container .r3 .s12 {
  -webkit-transform: rotate(158.4622699282deg) translate3d(0, 67.4288609899px, 0) scaleY(0.6742886099);
          transform: rotate(158.4622699282deg) translate3d(0, 67.4288609899px, 0) scaleY(0.6742886099);
}
#app .container .r3 .s13 {
  -webkit-transform: rotate(172.3860602355deg) translate3d(0, 73.0197499677px, 0) scaleY(0.7301974997);
          transform: rotate(172.3860602355deg) translate3d(0, 73.0197499677px, 0) scaleY(0.7301974997);
}
#app .container .r3 .s14 {
  -webkit-transform: rotate(187.4353864877deg) translate3d(0, 75.0795836971px, 0) scaleY(0.750795837);
          transform: rotate(187.4353864877deg) translate3d(0, 75.0795836971px, 0) scaleY(0.750795837);
}
#app .container .r3 .s15 {
  -webkit-transform: rotate(202.3037399644deg) translate3d(0, 74.0428527937px, 0) scaleY(0.7404285279);
          transform: rotate(202.3037399644deg) translate3d(0, 74.0428527937px, 0) scaleY(0.7404285279);
}
#app .container .r3 .s16 {
  -webkit-transform: rotate(216.9081919705deg) translate3d(0, 73.3688557859px, 0) scaleY(0.7336885579);
          transform: rotate(216.9081919705deg) translate3d(0, 73.3688557859px, 0) scaleY(0.7336885579);
}
#app .container .r3 .s17 {
  -webkit-transform: rotate(237.2736098442deg) translate3d(0, 83.6009074123px, 0) scaleY(0.8360090741);
          transform: rotate(237.2736098442deg) translate3d(0, 83.6009074123px, 0) scaleY(0.8360090741);
}
#app .container .r3 .s18 {
  -webkit-transform: rotate(246.2029010655deg) translate3d(0, 62.2971409271px, 0) scaleY(0.6229714093);
          transform: rotate(246.2029010655deg) translate3d(0, 62.2971409271px, 0) scaleY(0.6229714093);
}
#app .container .r3 .s19 {
  -webkit-transform: rotate(261.5949326181deg) translate3d(0, 73.7422201715px, 0) scaleY(0.7374222017);
          transform: rotate(261.5949326181deg) translate3d(0, 73.7422201715px, 0) scaleY(0.7374222017);
}
#app .container .r3 .s20 {
  -webkit-transform: rotate(281.3189359814deg) translate3d(0, 99.5112712348px, 0) scaleY(0.9951127123);
          transform: rotate(281.3189359814deg) translate3d(0, 99.5112712348px, 0) scaleY(0.9951127123);
}
#app .container .r3 .s21 {
  -webkit-transform: rotate(292.9254875591deg) translate3d(0, 82.6932725363px, 0) scaleY(0.8269327254);
          transform: rotate(292.9254875591deg) translate3d(0, 82.6932725363px, 0) scaleY(0.8269327254);
}
#app .container .r3 .s22 {
  -webkit-transform: rotate(311.7682833405deg) translate3d(0, 97.5726134723px, 0) scaleY(0.9757261347);
          transform: rotate(311.7682833405deg) translate3d(0, 97.5726134723px, 0) scaleY(0.9757261347);
}
#app .container .r3 .s23 {
  -webkit-transform: rotate(326.0495315347deg) translate3d(0, 91.5391612541px, 0) scaleY(0.9153916125);
          transform: rotate(326.0495315347deg) translate3d(0, 91.5391612541px, 0) scaleY(0.9153916125);
}
#app .container .r3 .s24 {
  -webkit-transform: rotate(339.8590059774deg) translate3d(0, 69.7238453532px, 0) scaleY(0.6972384535);
          transform: rotate(339.8590059774deg) translate3d(0, 69.7238453532px, 0) scaleY(0.6972384535);
}
#app .container .r4 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.6s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.6s infinite;
}
#app .container .r4 .s1 {
  -webkit-transform: rotate(-3.0180026563deg) translate3d(0, 82.7625877196px, 0) scaleY(0.8276258772);
          transform: rotate(-3.0180026563deg) translate3d(0, 82.7625877196px, 0) scaleY(0.8276258772);
}
#app .container .r4 .s2 {
  -webkit-transform: rotate(12.5957573918deg) translate3d(0, 90.0968923965px, 0) scaleY(0.900968924);
          transform: rotate(12.5957573918deg) translate3d(0, 90.0968923965px, 0) scaleY(0.900968924);
}
#app .container .r4 .s3 {
  -webkit-transform: rotate(28.2644185994deg) translate3d(0, 95.1150218578px, 0) scaleY(0.9511502186);
          transform: rotate(28.2644185994deg) translate3d(0, 95.1150218578px, 0) scaleY(0.9511502186);
}
#app .container .r4 .s4 {
  -webkit-transform: rotate(42.8749665894deg) translate3d(0, 99.8745162606px, 0) scaleY(0.9987451626);
          transform: rotate(42.8749665894deg) translate3d(0, 99.8745162606px, 0) scaleY(0.9987451626);
}
#app .container .r4 .s5 {
  -webkit-transform: rotate(54.2235431298deg) translate3d(0, 97.0741599155px, 0) scaleY(0.9707415992);
          transform: rotate(54.2235431298deg) translate3d(0, 97.0741599155px, 0) scaleY(0.9707415992);
}
#app .container .r4 .s6 {
  -webkit-transform: rotate(67.5761401952deg) translate3d(0, 87.4033544091px, 0) scaleY(0.8740335441);
          transform: rotate(67.5761401952deg) translate3d(0, 87.4033544091px, 0) scaleY(0.8740335441);
}
#app .container .r4 .s7 {
  -webkit-transform: rotate(84.4082256833deg) translate3d(0, 71.8830111469px, 0) scaleY(0.7188301115);
          transform: rotate(84.4082256833deg) translate3d(0, 71.8830111469px, 0) scaleY(0.7188301115);
}
#app .container .r4 .s8 {
  -webkit-transform: rotate(97.4649410136deg) translate3d(0, 87.3127106606px, 0) scaleY(0.8731271066);
          transform: rotate(97.4649410136deg) translate3d(0, 87.3127106606px, 0) scaleY(0.8731271066);
}
#app .container .r4 .s9 {
  -webkit-transform: rotate(113.7694923105deg) translate3d(0, 85.5606687589px, 0) scaleY(0.8556066876);
          transform: rotate(113.7694923105deg) translate3d(0, 85.5606687589px, 0) scaleY(0.8556066876);
}
#app .container .r4 .s10 {
  -webkit-transform: rotate(129.2367409591deg) translate3d(0, 88.2105184745px, 0) scaleY(0.8821051847);
          transform: rotate(129.2367409591deg) translate3d(0, 88.2105184745px, 0) scaleY(0.8821051847);
}
#app .container .r4 .s11 {
  -webkit-transform: rotate(141.1473964825deg) translate3d(0, 84.0190280126px, 0) scaleY(0.8401902801);
          transform: rotate(141.1473964825deg) translate3d(0, 84.0190280126px, 0) scaleY(0.8401902801);
}
#app .container .r4 .s12 {
  -webkit-transform: rotate(163.3676422356deg) translate3d(0, 74.2839571519px, 0) scaleY(0.7428395715);
          transform: rotate(163.3676422356deg) translate3d(0, 74.2839571519px, 0) scaleY(0.7428395715);
}
#app .container .r4 .s13 {
  -webkit-transform: rotate(174.8867688552deg) translate3d(0, 93.5773327615px, 0) scaleY(0.9357733276);
          transform: rotate(174.8867688552deg) translate3d(0, 93.5773327615px, 0) scaleY(0.9357733276);
}
#app .container .r4 .s14 {
  -webkit-transform: rotate(187.9394770209deg) translate3d(0, 96.0491999669px, 0) scaleY(0.9604919997);
          transform: rotate(187.9394770209deg) translate3d(0, 96.0491999669px, 0) scaleY(0.9604919997);
}
#app .container .r4 .s15 {
  -webkit-transform: rotate(207.7089724767deg) translate3d(0, 68.1873448445px, 0) scaleY(0.6818734484);
          transform: rotate(207.7089724767deg) translate3d(0, 68.1873448445px, 0) scaleY(0.6818734484);
}
#app .container .r4 .s16 {
  -webkit-transform: rotate(220.6486393248deg) translate3d(0, 91.5173956138px, 0) scaleY(0.9151739561);
          transform: rotate(220.6486393248deg) translate3d(0, 91.5173956138px, 0) scaleY(0.9151739561);
}
#app .container .r4 .s17 {
  -webkit-transform: rotate(230.225348509deg) translate3d(0, 93.5770425082px, 0) scaleY(0.9357704251);
          transform: rotate(230.225348509deg) translate3d(0, 93.5770425082px, 0) scaleY(0.9357704251);
}
#app .container .r4 .s18 {
  -webkit-transform: rotate(254.0117724995deg) translate3d(0, 82.3780379823px, 0) scaleY(0.8237803798);
          transform: rotate(254.0117724995deg) translate3d(0, 82.3780379823px, 0) scaleY(0.8237803798);
}
#app .container .r4 .s19 {
  -webkit-transform: rotate(266.526435493deg) translate3d(0, 72.6323262948px, 0) scaleY(0.7263232629);
          transform: rotate(266.526435493deg) translate3d(0, 72.6323262948px, 0) scaleY(0.7263232629);
}
#app .container .r4 .s20 {
  -webkit-transform: rotate(276.2031346891deg) translate3d(0, 85.6923684443px, 0) scaleY(0.8569236844);
          transform: rotate(276.2031346891deg) translate3d(0, 85.6923684443px, 0) scaleY(0.8569236844);
}
#app .container .r4 .s21 {
  -webkit-transform: rotate(299.4173574707deg) translate3d(0, 75.9249081433px, 0) scaleY(0.7592490814);
          transform: rotate(299.4173574707deg) translate3d(0, 75.9249081433px, 0) scaleY(0.7592490814);
}
#app .container .r4 .s22 {
  -webkit-transform: rotate(311.2599437626deg) translate3d(0, 73.5874652828px, 0) scaleY(0.7358746528);
          transform: rotate(311.2599437626deg) translate3d(0, 73.5874652828px, 0) scaleY(0.7358746528);
}
#app .container .r4 .s23 {
  -webkit-transform: rotate(324.4334963218deg) translate3d(0, 73.6656326236px, 0) scaleY(0.7366563262);
          transform: rotate(324.4334963218deg) translate3d(0, 73.6656326236px, 0) scaleY(0.7366563262);
}
#app .container .r4 .s24 {
  -webkit-transform: rotate(339.7966613408deg) translate3d(0, 72.7540477914px, 0) scaleY(0.7275404779);
          transform: rotate(339.7966613408deg) translate3d(0, 72.7540477914px, 0) scaleY(0.7275404779);
}
#app .container .r5 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.8s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -0.8s infinite;
}
#app .container .r5 .s1 {
  -webkit-transform: rotate(-9.375074594deg) translate3d(0, 74.6479891392px, 0) scaleY(0.7464798914);
          transform: rotate(-9.375074594deg) translate3d(0, 74.6479891392px, 0) scaleY(0.7464798914);
}
#app .container .r5 .s2 {
  -webkit-transform: rotate(8.0855276939deg) translate3d(0, 79.0390112866px, 0) scaleY(0.7903901129);
          transform: rotate(8.0855276939deg) translate3d(0, 79.0390112866px, 0) scaleY(0.7903901129);
}
#app .container .r5 .s3 {
  -webkit-transform: rotate(24.6411514439deg) translate3d(0, 90.42012662px, 0) scaleY(0.9042012662);
          transform: rotate(24.6411514439deg) translate3d(0, 90.42012662px, 0) scaleY(0.9042012662);
}
#app .container .r5 .s4 {
  -webkit-transform: rotate(37.8731632575deg) translate3d(0, 64.0041452329px, 0) scaleY(0.6400414523);
          transform: rotate(37.8731632575deg) translate3d(0, 64.0041452329px, 0) scaleY(0.6400414523);
}
#app .container .r5 .s5 {
  -webkit-transform: rotate(52.4016676198deg) translate3d(0, 93.2029883043px, 0) scaleY(0.932029883);
          transform: rotate(52.4016676198deg) translate3d(0, 93.2029883043px, 0) scaleY(0.932029883);
}
#app .container .r5 .s6 {
  -webkit-transform: rotate(71.1246043518deg) translate3d(0, 99.3920809814px, 0) scaleY(0.9939208098);
          transform: rotate(71.1246043518deg) translate3d(0, 99.3920809814px, 0) scaleY(0.9939208098);
}
#app .container .r5 .s7 {
  -webkit-transform: rotate(81.4235121327deg) translate3d(0, 68.3538782049px, 0) scaleY(0.683538782);
          transform: rotate(81.4235121327deg) translate3d(0, 68.3538782049px, 0) scaleY(0.683538782);
}
#app .container .r5 .s8 {
  -webkit-transform: rotate(103.2786739533deg) translate3d(0, 63.7896908921px, 0) scaleY(0.6378969089);
          transform: rotate(103.2786739533deg) translate3d(0, 63.7896908921px, 0) scaleY(0.6378969089);
}
#app .container .r5 .s9 {
  -webkit-transform: rotate(110.1196868378deg) translate3d(0, 76.6560603447px, 0) scaleY(0.7665606034);
          transform: rotate(110.1196868378deg) translate3d(0, 76.6560603447px, 0) scaleY(0.7665606034);
}
#app .container .r5 .s10 {
  -webkit-transform: rotate(125.3729973847deg) translate3d(0, 62.7251394449px, 0) scaleY(0.6272513944);
          transform: rotate(125.3729973847deg) translate3d(0, 62.7251394449px, 0) scaleY(0.6272513944);
}
#app .container .r5 .s11 {
  -webkit-transform: rotate(149.9779972251deg) translate3d(0, 72.0616148776px, 0) scaleY(0.7206161488);
          transform: rotate(149.9779972251deg) translate3d(0, 72.0616148776px, 0) scaleY(0.7206161488);
}
#app .container .r5 .s12 {
  -webkit-transform: rotate(156.5100424819deg) translate3d(0, 91.5032156762px, 0) scaleY(0.9150321568);
          transform: rotate(156.5100424819deg) translate3d(0, 91.5032156762px, 0) scaleY(0.9150321568);
}
#app .container .r5 .s13 {
  -webkit-transform: rotate(171.7519646178deg) translate3d(0, 92.8751957098px, 0) scaleY(0.9287519571);
          transform: rotate(171.7519646178deg) translate3d(0, 92.8751957098px, 0) scaleY(0.9287519571);
}
#app .container .r5 .s14 {
  -webkit-transform: rotate(190.7214228078deg) translate3d(0, 82.2903544983px, 0) scaleY(0.822903545);
          transform: rotate(190.7214228078deg) translate3d(0, 82.2903544983px, 0) scaleY(0.822903545);
}
#app .container .r5 .s15 {
  -webkit-transform: rotate(205.8344454605deg) translate3d(0, 77.0220784012px, 0) scaleY(0.770220784);
          transform: rotate(205.8344454605deg) translate3d(0, 77.0220784012px, 0) scaleY(0.770220784);
}
#app .container .r5 .s16 {
  -webkit-transform: rotate(217.8431767453deg) translate3d(0, 84.2668331334px, 0) scaleY(0.8426683313);
          transform: rotate(217.8431767453deg) translate3d(0, 84.2668331334px, 0) scaleY(0.8426683313);
}
#app .container .r5 .s17 {
  -webkit-transform: rotate(232.3677046779deg) translate3d(0, 82.251713263px, 0) scaleY(0.8225171326);
          transform: rotate(232.3677046779deg) translate3d(0, 82.251713263px, 0) scaleY(0.8225171326);
}
#app .container .r5 .s18 {
  -webkit-transform: rotate(247.1095420224deg) translate3d(0, 96.9457622942px, 0) scaleY(0.9694576229);
          transform: rotate(247.1095420224deg) translate3d(0, 96.9457622942px, 0) scaleY(0.9694576229);
}
#app .container .r5 .s19 {
  -webkit-transform: rotate(267.6819575061deg) translate3d(0, 99.5659582829px, 0) scaleY(0.9956595828);
          transform: rotate(267.6819575061deg) translate3d(0, 99.5659582829px, 0) scaleY(0.9956595828);
}
#app .container .r5 .s20 {
  -webkit-transform: rotate(276.6223094251deg) translate3d(0, 65.7409377876px, 0) scaleY(0.6574093779);
          transform: rotate(276.6223094251deg) translate3d(0, 65.7409377876px, 0) scaleY(0.6574093779);
}
#app .container .r5 .s21 {
  -webkit-transform: rotate(294.0323002029deg) translate3d(0, 97.8726667135px, 0) scaleY(0.9787266671);
          transform: rotate(294.0323002029deg) translate3d(0, 97.8726667135px, 0) scaleY(0.9787266671);
}
#app .container .r5 .s22 {
  -webkit-transform: rotate(305.2602053037deg) translate3d(0, 93.632243766px, 0) scaleY(0.9363224377);
          transform: rotate(305.2602053037deg) translate3d(0, 93.632243766px, 0) scaleY(0.9363224377);
}
#app .container .r5 .s23 {
  -webkit-transform: rotate(325.263061413deg) translate3d(0, 96.7968228539px, 0) scaleY(0.9679682285);
          transform: rotate(325.263061413deg) translate3d(0, 96.7968228539px, 0) scaleY(0.9679682285);
}
#app .container .r5 .s24 {
  -webkit-transform: rotate(344.9398840023deg) translate3d(0, 82.334816128px, 0) scaleY(0.8233481613);
          transform: rotate(344.9398840023deg) translate3d(0, 82.334816128px, 0) scaleY(0.8233481613);
}
#app .container .r6 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1s infinite;
}
#app .container .r6 .s1 {
  -webkit-transform: rotate(-7.9156967064deg) translate3d(0, 80.5452837892px, 0) scaleY(0.8054528379);
          transform: rotate(-7.9156967064deg) translate3d(0, 80.5452837892px, 0) scaleY(0.8054528379);
}
#app .container .r6 .s2 {
  -webkit-transform: rotate(7.1480275263deg) translate3d(0, 69.3505008052px, 0) scaleY(0.6935050081);
          transform: rotate(7.1480275263deg) translate3d(0, 69.3505008052px, 0) scaleY(0.6935050081);
}
#app .container .r6 .s3 {
  -webkit-transform: rotate(23.5182239604deg) translate3d(0, 80.7994144566px, 0) scaleY(0.8079941446);
          transform: rotate(23.5182239604deg) translate3d(0, 80.7994144566px, 0) scaleY(0.8079941446);
}
#app .container .r6 .s4 {
  -webkit-transform: rotate(42.7169837528deg) translate3d(0, 92.54440224px, 0) scaleY(0.9254440224);
          transform: rotate(42.7169837528deg) translate3d(0, 92.54440224px, 0) scaleY(0.9254440224);
}
#app .container .r6 .s5 {
  -webkit-transform: rotate(55.7214968693deg) translate3d(0, 64.6508946607px, 0) scaleY(0.6465089466);
          transform: rotate(55.7214968693deg) translate3d(0, 64.6508946607px, 0) scaleY(0.6465089466);
}
#app .container .r6 .s6 {
  -webkit-transform: rotate(72.6854290326deg) translate3d(0, 83.2581846307px, 0) scaleY(0.8325818463);
          transform: rotate(72.6854290326deg) translate3d(0, 83.2581846307px, 0) scaleY(0.8325818463);
}
#app .container .r6 .s7 {
  -webkit-transform: rotate(83.7734947862deg) translate3d(0, 95.8054159396px, 0) scaleY(0.9580541594);
          transform: rotate(83.7734947862deg) translate3d(0, 95.8054159396px, 0) scaleY(0.9580541594);
}
#app .container .r6 .s8 {
  -webkit-transform: rotate(101.6093514227deg) translate3d(0, 61.4090745052px, 0) scaleY(0.6140907451);
          transform: rotate(101.6093514227deg) translate3d(0, 61.4090745052px, 0) scaleY(0.6140907451);
}
#app .container .r6 .s9 {
  -webkit-transform: rotate(115.064844308deg) translate3d(0, 90.8985385418px, 0) scaleY(0.9089853854);
          transform: rotate(115.064844308deg) translate3d(0, 90.8985385418px, 0) scaleY(0.9089853854);
}
#app .container .r6 .s10 {
  -webkit-transform: rotate(132.5672742686deg) translate3d(0, 78.9169369433px, 0) scaleY(0.7891693694);
          transform: rotate(132.5672742686deg) translate3d(0, 78.9169369433px, 0) scaleY(0.7891693694);
}
#app .container .r6 .s11 {
  -webkit-transform: rotate(149.2874139334deg) translate3d(0, 90.7632522274px, 0) scaleY(0.9076325223);
          transform: rotate(149.2874139334deg) translate3d(0, 90.7632522274px, 0) scaleY(0.9076325223);
}
#app .container .r6 .s12 {
  -webkit-transform: rotate(157.3441158291deg) translate3d(0, 99.6563866712px, 0) scaleY(0.9965638667);
          transform: rotate(157.3441158291deg) translate3d(0, 99.6563866712px, 0) scaleY(0.9965638667);
}
#app .container .r6 .s13 {
  -webkit-transform: rotate(173.8002115542deg) translate3d(0, 88.3703836838px, 0) scaleY(0.8837038368);
          transform: rotate(173.8002115542deg) translate3d(0, 88.3703836838px, 0) scaleY(0.8837038368);
}
#app .container .r6 .s14 {
  -webkit-transform: rotate(194.52157623deg) translate3d(0, 82.3306269995px, 0) scaleY(0.82330627);
          transform: rotate(194.52157623deg) translate3d(0, 82.3306269995px, 0) scaleY(0.82330627);
}
#app .container .r6 .s15 {
  -webkit-transform: rotate(204.4287219881deg) translate3d(0, 82.8978860779px, 0) scaleY(0.8289788608);
          transform: rotate(204.4287219881deg) translate3d(0, 82.8978860779px, 0) scaleY(0.8289788608);
}
#app .container .r6 .s16 {
  -webkit-transform: rotate(221.7235595018deg) translate3d(0, 87.4349074484px, 0) scaleY(0.8743490745);
          transform: rotate(221.7235595018deg) translate3d(0, 87.4349074484px, 0) scaleY(0.8743490745);
}
#app .container .r6 .s17 {
  -webkit-transform: rotate(238.5543014487deg) translate3d(0, 77.1810945752px, 0) scaleY(0.7718109458);
          transform: rotate(238.5543014487deg) translate3d(0, 77.1810945752px, 0) scaleY(0.7718109458);
}
#app .container .r6 .s18 {
  -webkit-transform: rotate(249.434122534deg) translate3d(0, 82.8072902923px, 0) scaleY(0.8280729029);
          transform: rotate(249.434122534deg) translate3d(0, 82.8072902923px, 0) scaleY(0.8280729029);
}
#app .container .r6 .s19 {
  -webkit-transform: rotate(261.2202074704deg) translate3d(0, 88.26003786px, 0) scaleY(0.8826003786);
          transform: rotate(261.2202074704deg) translate3d(0, 88.26003786px, 0) scaleY(0.8826003786);
}
#app .container .r6 .s20 {
  -webkit-transform: rotate(282.4963254096deg) translate3d(0, 93.3759757278px, 0) scaleY(0.9337597573);
          transform: rotate(282.4963254096deg) translate3d(0, 93.3759757278px, 0) scaleY(0.9337597573);
}
#app .container .r6 .s21 {
  -webkit-transform: rotate(295.0249048198deg) translate3d(0, 61.4287543042px, 0) scaleY(0.614287543);
          transform: rotate(295.0249048198deg) translate3d(0, 61.4287543042px, 0) scaleY(0.614287543);
}
#app .container .r6 .s22 {
  -webkit-transform: rotate(309.1931121619deg) translate3d(0, 86.9701166296px, 0) scaleY(0.8697011663);
          transform: rotate(309.1931121619deg) translate3d(0, 86.9701166296px, 0) scaleY(0.8697011663);
}
#app .container .r6 .s23 {
  -webkit-transform: rotate(323.6707281881deg) translate3d(0, 98.8779956306px, 0) scaleY(0.9887799563);
          transform: rotate(323.6707281881deg) translate3d(0, 98.8779956306px, 0) scaleY(0.9887799563);
}
#app .container .r6 .s24 {
  -webkit-transform: rotate(343.3614927273deg) translate3d(0, 95.6043737721px, 0) scaleY(0.9560437377);
          transform: rotate(343.3614927273deg) translate3d(0, 95.6043737721px, 0) scaleY(0.9560437377);
}
#app .container .r7 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.2s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.2s infinite;
}
#app .container .r7 .s1 {
  -webkit-transform: rotate(-6.1795795764deg) translate3d(0, 68.8513585903px, 0) scaleY(0.6885135859);
          transform: rotate(-6.1795795764deg) translate3d(0, 68.8513585903px, 0) scaleY(0.6885135859);
}
#app .container .r7 .s2 {
  -webkit-transform: rotate(5.9465667028deg) translate3d(0, 94.7776871441px, 0) scaleY(0.9477768714);
          transform: rotate(5.9465667028deg) translate3d(0, 94.7776871441px, 0) scaleY(0.9477768714);
}
#app .container .r7 .s3 {
  -webkit-transform: rotate(27.500781821deg) translate3d(0, 69.5673063391px, 0) scaleY(0.6956730634);
          transform: rotate(27.500781821deg) translate3d(0, 69.5673063391px, 0) scaleY(0.6956730634);
}
#app .container .r7 .s4 {
  -webkit-transform: rotate(38.2601636467deg) translate3d(0, 72.1670554294px, 0) scaleY(0.7216705543);
          transform: rotate(38.2601636467deg) translate3d(0, 72.1670554294px, 0) scaleY(0.7216705543);
}
#app .container .r7 .s5 {
  -webkit-transform: rotate(59.7376312024deg) translate3d(0, 78.7563634553px, 0) scaleY(0.7875636346);
          transform: rotate(59.7376312024deg) translate3d(0, 78.7563634553px, 0) scaleY(0.7875636346);
}
#app .container .r7 .s6 {
  -webkit-transform: rotate(66.1197855507deg) translate3d(0, 85.8939562917px, 0) scaleY(0.8589395629);
          transform: rotate(66.1197855507deg) translate3d(0, 85.8939562917px, 0) scaleY(0.8589395629);
}
#app .container .r7 .s7 {
  -webkit-transform: rotate(80.5980303002deg) translate3d(0, 86.4985878698px, 0) scaleY(0.8649858787);
          transform: rotate(80.5980303002deg) translate3d(0, 86.4985878698px, 0) scaleY(0.8649858787);
}
#app .container .r7 .s8 {
  -webkit-transform: rotate(95.6149555694deg) translate3d(0, 77.8183407945px, 0) scaleY(0.7781834079);
          transform: rotate(95.6149555694deg) translate3d(0, 77.8183407945px, 0) scaleY(0.7781834079);
}
#app .container .r7 .s9 {
  -webkit-transform: rotate(110.0233728349deg) translate3d(0, 70.5317405022px, 0) scaleY(0.705317405);
          transform: rotate(110.0233728349deg) translate3d(0, 70.5317405022px, 0) scaleY(0.705317405);
}
#app .container .r7 .s10 {
  -webkit-transform: rotate(129.6323895586deg) translate3d(0, 73.7941428994px, 0) scaleY(0.737941429);
          transform: rotate(129.6323895586deg) translate3d(0, 73.7941428994px, 0) scaleY(0.737941429);
}
#app .container .r7 .s11 {
  -webkit-transform: rotate(147.6711891063deg) translate3d(0, 60.2570218764px, 0) scaleY(0.6025702188);
          transform: rotate(147.6711891063deg) translate3d(0, 60.2570218764px, 0) scaleY(0.6025702188);
}
#app .container .r7 .s12 {
  -webkit-transform: rotate(164.7643753107deg) translate3d(0, 76.4532675703px, 0) scaleY(0.7645326757);
          transform: rotate(164.7643753107deg) translate3d(0, 76.4532675703px, 0) scaleY(0.7645326757);
}
#app .container .r7 .s13 {
  -webkit-transform: rotate(175.6615226631deg) translate3d(0, 79.2622466252px, 0) scaleY(0.7926224663);
          transform: rotate(175.6615226631deg) translate3d(0, 79.2622466252px, 0) scaleY(0.7926224663);
}
#app .container .r7 .s14 {
  -webkit-transform: rotate(192.2855499343deg) translate3d(0, 82.6731769345px, 0) scaleY(0.8267317693);
          transform: rotate(192.2855499343deg) translate3d(0, 82.6731769345px, 0) scaleY(0.8267317693);
}
#app .container .r7 .s15 {
  -webkit-transform: rotate(206.532056898deg) translate3d(0, 64.1514193361px, 0) scaleY(0.6415141934);
          transform: rotate(206.532056898deg) translate3d(0, 64.1514193361px, 0) scaleY(0.6415141934);
}
#app .container .r7 .s16 {
  -webkit-transform: rotate(217.196422763deg) translate3d(0, 82.7971701565px, 0) scaleY(0.8279717016);
          transform: rotate(217.196422763deg) translate3d(0, 82.7971701565px, 0) scaleY(0.8279717016);
}
#app .container .r7 .s17 {
  -webkit-transform: rotate(234.4867903939deg) translate3d(0, 91.5876210001px, 0) scaleY(0.91587621);
          transform: rotate(234.4867903939deg) translate3d(0, 91.5876210001px, 0) scaleY(0.91587621);
}
#app .container .r7 .s18 {
  -webkit-transform: rotate(250.5109685798deg) translate3d(0, 93.4914047047px, 0) scaleY(0.934914047);
          transform: rotate(250.5109685798deg) translate3d(0, 93.4914047047px, 0) scaleY(0.934914047);
}
#app .container .r7 .s19 {
  -webkit-transform: rotate(262.6266936604deg) translate3d(0, 69.119674767px, 0) scaleY(0.6911967477);
          transform: rotate(262.6266936604deg) translate3d(0, 69.119674767px, 0) scaleY(0.6911967477);
}
#app .container .r7 .s20 {
  -webkit-transform: rotate(279.7616417404deg) translate3d(0, 86.0394263747px, 0) scaleY(0.8603942637);
          transform: rotate(279.7616417404deg) translate3d(0, 86.0394263747px, 0) scaleY(0.8603942637);
}
#app .container .r7 .s21 {
  -webkit-transform: rotate(294.7399530996deg) translate3d(0, 60.4724471685px, 0) scaleY(0.6047244717);
          transform: rotate(294.7399530996deg) translate3d(0, 60.4724471685px, 0) scaleY(0.6047244717);
}
#app .container .r7 .s22 {
  -webkit-transform: rotate(305.5293830817deg) translate3d(0, 81.5235556259px, 0) scaleY(0.8152355563);
          transform: rotate(305.5293830817deg) translate3d(0, 81.5235556259px, 0) scaleY(0.8152355563);
}
#app .container .r7 .s23 {
  -webkit-transform: rotate(322.0726263191deg) translate3d(0, 71.4374318231px, 0) scaleY(0.7143743182);
          transform: rotate(322.0726263191deg) translate3d(0, 71.4374318231px, 0) scaleY(0.7143743182);
}
#app .container .r7 .s24 {
  -webkit-transform: rotate(344.6062574132deg) translate3d(0, 72.2250804347px, 0) scaleY(0.7222508043);
          transform: rotate(344.6062574132deg) translate3d(0, 72.2250804347px, 0) scaleY(0.7222508043);
}
#app .container .r8 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.4s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.4s infinite;
}
#app .container .r8 .s1 {
  -webkit-transform: rotate(-0.6144544817deg) translate3d(0, 86.0664306784px, 0) scaleY(0.8606643068);
          transform: rotate(-0.6144544817deg) translate3d(0, 86.0664306784px, 0) scaleY(0.8606643068);
}
#app .container .r8 .s2 {
  -webkit-transform: rotate(8.6691401775deg) translate3d(0, 80.5188648662px, 0) scaleY(0.8051886487);
          transform: rotate(8.6691401775deg) translate3d(0, 80.5188648662px, 0) scaleY(0.8051886487);
}
#app .container .r8 .s3 {
  -webkit-transform: rotate(22.9361708072deg) translate3d(0, 98.9496570868px, 0) scaleY(0.9894965709);
          transform: rotate(22.9361708072deg) translate3d(0, 98.9496570868px, 0) scaleY(0.9894965709);
}
#app .container .r8 .s4 {
  -webkit-transform: rotate(42.7291068818deg) translate3d(0, 74.4383870157px, 0) scaleY(0.7443838702);
          transform: rotate(42.7291068818deg) translate3d(0, 74.4383870157px, 0) scaleY(0.7443838702);
}
#app .container .r8 .s5 {
  -webkit-transform: rotate(53.2976552842deg) translate3d(0, 69.9118173598px, 0) scaleY(0.6991181736);
          transform: rotate(53.2976552842deg) translate3d(0, 69.9118173598px, 0) scaleY(0.6991181736);
}
#app .container .r8 .s6 {
  -webkit-transform: rotate(69.196375756deg) translate3d(0, 82.7251129182px, 0) scaleY(0.8272511292);
          transform: rotate(69.196375756deg) translate3d(0, 82.7251129182px, 0) scaleY(0.8272511292);
}
#app .container .r8 .s7 {
  -webkit-transform: rotate(86.2750520594deg) translate3d(0, 75.9446638072px, 0) scaleY(0.7594466381);
          transform: rotate(86.2750520594deg) translate3d(0, 75.9446638072px, 0) scaleY(0.7594466381);
}
#app .container .r8 .s8 {
  -webkit-transform: rotate(101.8959152151deg) translate3d(0, 94.2023456243px, 0) scaleY(0.9420234562);
          transform: rotate(101.8959152151deg) translate3d(0, 94.2023456243px, 0) scaleY(0.9420234562);
}
#app .container .r8 .s9 {
  -webkit-transform: rotate(114.6207386419deg) translate3d(0, 88.0999544667px, 0) scaleY(0.8809995447);
          transform: rotate(114.6207386419deg) translate3d(0, 88.0999544667px, 0) scaleY(0.8809995447);
}
#app .container .r8 .s10 {
  -webkit-transform: rotate(128.4522843569deg) translate3d(0, 82.0237247447px, 0) scaleY(0.8202372474);
          transform: rotate(128.4522843569deg) translate3d(0, 82.0237247447px, 0) scaleY(0.8202372474);
}
#app .container .r8 .s11 {
  -webkit-transform: rotate(146.4923253671deg) translate3d(0, 61.2210898344px, 0) scaleY(0.6122108983);
          transform: rotate(146.4923253671deg) translate3d(0, 61.2210898344px, 0) scaleY(0.6122108983);
}
#app .container .r8 .s12 {
  -webkit-transform: rotate(163.619413793deg) translate3d(0, 96.2988825561px, 0) scaleY(0.9629888256);
          transform: rotate(163.619413793deg) translate3d(0, 96.2988825561px, 0) scaleY(0.9629888256);
}
#app .container .r8 .s13 {
  -webkit-transform: rotate(174.0832730844deg) translate3d(0, 96.1738683352px, 0) scaleY(0.9617386834);
          transform: rotate(174.0832730844deg) translate3d(0, 96.1738683352px, 0) scaleY(0.9617386834);
}
#app .container .r8 .s14 {
  -webkit-transform: rotate(192.1337589059deg) translate3d(0, 84.1476265208px, 0) scaleY(0.8414762652);
          transform: rotate(192.1337589059deg) translate3d(0, 84.1476265208px, 0) scaleY(0.8414762652);
}
#app .container .r8 .s15 {
  -webkit-transform: rotate(207.1871960286deg) translate3d(0, 64.803180272px, 0) scaleY(0.6480318027);
          transform: rotate(207.1871960286deg) translate3d(0, 64.803180272px, 0) scaleY(0.6480318027);
}
#app .container .r8 .s16 {
  -webkit-transform: rotate(224.4600535464deg) translate3d(0, 79.5466428267px, 0) scaleY(0.7954664283);
          transform: rotate(224.4600535464deg) translate3d(0, 79.5466428267px, 0) scaleY(0.7954664283);
}
#app .container .r8 .s17 {
  -webkit-transform: rotate(234.1391452838deg) translate3d(0, 99.7724522844px, 0) scaleY(0.9977245228);
          transform: rotate(234.1391452838deg) translate3d(0, 99.7724522844px, 0) scaleY(0.9977245228);
}
#app .container .r8 .s18 {
  -webkit-transform: rotate(253.7040874205deg) translate3d(0, 90.8023092276px, 0) scaleY(0.9080230923);
          transform: rotate(253.7040874205deg) translate3d(0, 90.8023092276px, 0) scaleY(0.9080230923);
}
#app .container .r8 .s19 {
  -webkit-transform: rotate(266.3327535214deg) translate3d(0, 72.3269368886px, 0) scaleY(0.7232693689);
          transform: rotate(266.3327535214deg) translate3d(0, 72.3269368886px, 0) scaleY(0.7232693689);
}
#app .container .r8 .s20 {
  -webkit-transform: rotate(279.9743199839deg) translate3d(0, 80.3891291411px, 0) scaleY(0.8038912914);
          transform: rotate(279.9743199839deg) translate3d(0, 80.3891291411px, 0) scaleY(0.8038912914);
}
#app .container .r8 .s21 {
  -webkit-transform: rotate(298.0160642302deg) translate3d(0, 89.3680857488px, 0) scaleY(0.8936808575);
          transform: rotate(298.0160642302deg) translate3d(0, 89.3680857488px, 0) scaleY(0.8936808575);
}
#app .container .r8 .s22 {
  -webkit-transform: rotate(305.2430277108deg) translate3d(0, 65.242525116px, 0) scaleY(0.6524252512);
          transform: rotate(305.2430277108deg) translate3d(0, 65.242525116px, 0) scaleY(0.6524252512);
}
#app .container .r8 .s23 {
  -webkit-transform: rotate(322.7266057109deg) translate3d(0, 63.0160135372px, 0) scaleY(0.6301601354);
          transform: rotate(322.7266057109deg) translate3d(0, 63.0160135372px, 0) scaleY(0.6301601354);
}
#app .container .r8 .s24 {
  -webkit-transform: rotate(341.5776811678deg) translate3d(0, 80.2998709633px, 0) scaleY(0.8029987096);
          transform: rotate(341.5776811678deg) translate3d(0, 80.2998709633px, 0) scaleY(0.8029987096);
}
#app .container .r9 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.6s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.6s infinite;
}
#app .container .r9 .s1 {
  -webkit-transform: rotate(-7.9538398728deg) translate3d(0, 72.221507368px, 0) scaleY(0.7222150737);
          transform: rotate(-7.9538398728deg) translate3d(0, 72.221507368px, 0) scaleY(0.7222150737);
}
#app .container .r9 .s2 {
  -webkit-transform: rotate(14.7473391271deg) translate3d(0, 87.3710746305px, 0) scaleY(0.8737107463);
          transform: rotate(14.7473391271deg) translate3d(0, 87.3710746305px, 0) scaleY(0.8737107463);
}
#app .container .r9 .s3 {
  -webkit-transform: rotate(28.5302192327deg) translate3d(0, 86.3230340716px, 0) scaleY(0.8632303407);
          transform: rotate(28.5302192327deg) translate3d(0, 86.3230340716px, 0) scaleY(0.8632303407);
}
#app .container .r9 .s4 {
  -webkit-transform: rotate(44.0617623513deg) translate3d(0, 93.1399468685px, 0) scaleY(0.9313994687);
          transform: rotate(44.0617623513deg) translate3d(0, 93.1399468685px, 0) scaleY(0.9313994687);
}
#app .container .r9 .s5 {
  -webkit-transform: rotate(56.1043970227deg) translate3d(0, 97.5283007791px, 0) scaleY(0.9752830078);
          transform: rotate(56.1043970227deg) translate3d(0, 97.5283007791px, 0) scaleY(0.9752830078);
}
#app .container .r9 .s6 {
  -webkit-transform: rotate(71.0400075227deg) translate3d(0, 90.3492472112px, 0) scaleY(0.9034924721);
          transform: rotate(71.0400075227deg) translate3d(0, 90.3492472112px, 0) scaleY(0.9034924721);
}
#app .container .r9 .s7 {
  -webkit-transform: rotate(88.970168974deg) translate3d(0, 82.9493745688px, 0) scaleY(0.8294937457);
          transform: rotate(88.970168974deg) translate3d(0, 82.9493745688px, 0) scaleY(0.8294937457);
}
#app .container .r9 .s8 {
  -webkit-transform: rotate(98.482855221deg) translate3d(0, 79.5404123302px, 0) scaleY(0.7954041233);
          transform: rotate(98.482855221deg) translate3d(0, 79.5404123302px, 0) scaleY(0.7954041233);
}
#app .container .r9 .s9 {
  -webkit-transform: rotate(110.1600451181deg) translate3d(0, 66.686013485px, 0) scaleY(0.6668601348);
          transform: rotate(110.1600451181deg) translate3d(0, 66.686013485px, 0) scaleY(0.6668601348);
}
#app .container .r9 .s10 {
  -webkit-transform: rotate(133.0339544622deg) translate3d(0, 69.542134147px, 0) scaleY(0.6954213415);
          transform: rotate(133.0339544622deg) translate3d(0, 69.542134147px, 0) scaleY(0.6954213415);
}
#app .container .r9 .s11 {
  -webkit-transform: rotate(149.3916938032deg) translate3d(0, 62.1785371981px, 0) scaleY(0.621785372);
          transform: rotate(149.3916938032deg) translate3d(0, 62.1785371981px, 0) scaleY(0.621785372);
}
#app .container .r9 .s12 {
  -webkit-transform: rotate(158.1943560539deg) translate3d(0, 78.5710356212px, 0) scaleY(0.7857103562);
          transform: rotate(158.1943560539deg) translate3d(0, 78.5710356212px, 0) scaleY(0.7857103562);
}
#app .container .r9 .s13 {
  -webkit-transform: rotate(179.672923803deg) translate3d(0, 73.7623884762px, 0) scaleY(0.7376238848);
          transform: rotate(179.672923803deg) translate3d(0, 73.7623884762px, 0) scaleY(0.7376238848);
}
#app .container .r9 .s14 {
  -webkit-transform: rotate(192.85980151deg) translate3d(0, 84.7156263304px, 0) scaleY(0.8471562633);
          transform: rotate(192.85980151deg) translate3d(0, 84.7156263304px, 0) scaleY(0.8471562633);
}
#app .container .r9 .s15 {
  -webkit-transform: rotate(201.9746745468deg) translate3d(0, 64.8192119617px, 0) scaleY(0.6481921196);
          transform: rotate(201.9746745468deg) translate3d(0, 64.8192119617px, 0) scaleY(0.6481921196);
}
#app .container .r9 .s16 {
  -webkit-transform: rotate(220.7087145054deg) translate3d(0, 94.2879538124px, 0) scaleY(0.9428795381);
          transform: rotate(220.7087145054deg) translate3d(0, 94.2879538124px, 0) scaleY(0.9428795381);
}
#app .container .r9 .s17 {
  -webkit-transform: rotate(236.2115442638deg) translate3d(0, 70.3733030525px, 0) scaleY(0.7037330305);
          transform: rotate(236.2115442638deg) translate3d(0, 70.3733030525px, 0) scaleY(0.7037330305);
}
#app .container .r9 .s18 {
  -webkit-transform: rotate(245.9495976039deg) translate3d(0, 63.117702931px, 0) scaleY(0.6311770293);
          transform: rotate(245.9495976039deg) translate3d(0, 63.117702931px, 0) scaleY(0.6311770293);
}
#app .container .r9 .s19 {
  -webkit-transform: rotate(266.1382484844deg) translate3d(0, 61.4681249641px, 0) scaleY(0.6146812496);
          transform: rotate(266.1382484844deg) translate3d(0, 61.4681249641px, 0) scaleY(0.6146812496);
}
#app .container .r9 .s20 {
  -webkit-transform: rotate(278.309659648deg) translate3d(0, 86.1223140649px, 0) scaleY(0.8612231406);
          transform: rotate(278.309659648deg) translate3d(0, 86.1223140649px, 0) scaleY(0.8612231406);
}
#app .container .r9 .s21 {
  -webkit-transform: rotate(292.0820931329deg) translate3d(0, 96.317641259px, 0) scaleY(0.9631764126);
          transform: rotate(292.0820931329deg) translate3d(0, 96.317641259px, 0) scaleY(0.9631764126);
}
#app .container .r9 .s22 {
  -webkit-transform: rotate(314.5819349029deg) translate3d(0, 64.9563044912px, 0) scaleY(0.6495630449);
          transform: rotate(314.5819349029deg) translate3d(0, 64.9563044912px, 0) scaleY(0.6495630449);
}
#app .container .r9 .s23 {
  -webkit-transform: rotate(323.9974380957deg) translate3d(0, 99.7677087631px, 0) scaleY(0.9976770876);
          transform: rotate(323.9974380957deg) translate3d(0, 99.7677087631px, 0) scaleY(0.9976770876);
}
#app .container .r9 .s24 {
  -webkit-transform: rotate(341.3335545141deg) translate3d(0, 88.4749456829px, 0) scaleY(0.8847494568);
          transform: rotate(341.3335545141deg) translate3d(0, 88.4749456829px, 0) scaleY(0.8847494568);
}
#app .container .r10 {
  -webkit-animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.8s infinite;
          animation: ring 2s cubic-bezier(0.98, 0.02, 0.97, 0.12) -1.8s infinite;
}
#app .container .r10 .s1 {
  -webkit-transform: rotate(-3.935546556deg) translate3d(0, 60.6415848028px, 0) scaleY(0.606415848);
          transform: rotate(-3.935546556deg) translate3d(0, 60.6415848028px, 0) scaleY(0.606415848);
}
#app .container .r10 .s2 {
  -webkit-transform: rotate(12.5498951537deg) translate3d(0, 86.289729142px, 0) scaleY(0.8628972914);
          transform: rotate(12.5498951537deg) translate3d(0, 86.289729142px, 0) scaleY(0.8628972914);
}
#app .container .r10 .s3 {
  -webkit-transform: rotate(24.0532300424deg) translate3d(0, 98.5291150684px, 0) scaleY(0.9852911507);
          transform: rotate(24.0532300424deg) translate3d(0, 98.5291150684px, 0) scaleY(0.9852911507);
}
#app .container .r10 .s4 {
  -webkit-transform: rotate(42.0309205118deg) translate3d(0, 68.7071994592px, 0) scaleY(0.6870719946);
          transform: rotate(42.0309205118deg) translate3d(0, 68.7071994592px, 0) scaleY(0.6870719946);
}
#app .container .r10 .s5 {
  -webkit-transform: rotate(55.2150831514deg) translate3d(0, 79.2537761383px, 0) scaleY(0.7925377614);
          transform: rotate(55.2150831514deg) translate3d(0, 79.2537761383px, 0) scaleY(0.7925377614);
}
#app .container .r10 .s6 {
  -webkit-transform: rotate(67.7934894792deg) translate3d(0, 70.0198579239px, 0) scaleY(0.7001985792);
          transform: rotate(67.7934894792deg) translate3d(0, 70.0198579239px, 0) scaleY(0.7001985792);
}
#app .container .r10 .s7 {
  -webkit-transform: rotate(80.6551122693deg) translate3d(0, 90.0421745513px, 0) scaleY(0.9004217455);
          transform: rotate(80.6551122693deg) translate3d(0, 90.0421745513px, 0) scaleY(0.9004217455);
}
#app .container .r10 .s8 {
  -webkit-transform: rotate(97.0176873114deg) translate3d(0, 77.7827949865px, 0) scaleY(0.7778279499);
          transform: rotate(97.0176873114deg) translate3d(0, 77.7827949865px, 0) scaleY(0.7778279499);
}
#app .container .r10 .s9 {
  -webkit-transform: rotate(112.2162054788deg) translate3d(0, 67.8684232958px, 0) scaleY(0.678684233);
          transform: rotate(112.2162054788deg) translate3d(0, 67.8684232958px, 0) scaleY(0.678684233);
}
#app .container .r10 .s10 {
  -webkit-transform: rotate(126.2559653549deg) translate3d(0, 64.1985435715px, 0) scaleY(0.6419854357);
          transform: rotate(126.2559653549deg) translate3d(0, 64.1985435715px, 0) scaleY(0.6419854357);
}
#app .container .r10 .s11 {
  -webkit-transform: rotate(141.4587105217deg) translate3d(0, 75.2883569724px, 0) scaleY(0.7528835697);
          transform: rotate(141.4587105217deg) translate3d(0, 75.2883569724px, 0) scaleY(0.7528835697);
}
#app .container .r10 .s12 {
  -webkit-transform: rotate(159.3929740443deg) translate3d(0, 80.750259831px, 0) scaleY(0.8075025983);
          transform: rotate(159.3929740443deg) translate3d(0, 80.750259831px, 0) scaleY(0.8075025983);
}
#app .container .r10 .s13 {
  -webkit-transform: rotate(176.2766191201deg) translate3d(0, 93.2275554879px, 0) scaleY(0.9322755549);
          transform: rotate(176.2766191201deg) translate3d(0, 93.2275554879px, 0) scaleY(0.9322755549);
}
#app .container .r10 .s14 {
  -webkit-transform: rotate(187.0929796941deg) translate3d(0, 63.280096164px, 0) scaleY(0.6328009616);
          transform: rotate(187.0929796941deg) translate3d(0, 63.280096164px, 0) scaleY(0.6328009616);
}
#app .container .r10 .s15 {
  -webkit-transform: rotate(203.5766666436deg) translate3d(0, 68.0476613824px, 0) scaleY(0.6804766138);
          transform: rotate(203.5766666436deg) translate3d(0, 68.0476613824px, 0) scaleY(0.6804766138);
}
#app .container .r10 .s16 {
  -webkit-transform: rotate(217.6945552391deg) translate3d(0, 64.2720729716px, 0) scaleY(0.6427207297);
          transform: rotate(217.6945552391deg) translate3d(0, 64.2720729716px, 0) scaleY(0.6427207297);
}
#app .container .r10 .s17 {
  -webkit-transform: rotate(233.8098794062deg) translate3d(0, 64.4648114375px, 0) scaleY(0.6446481144);
          transform: rotate(233.8098794062deg) translate3d(0, 64.4648114375px, 0) scaleY(0.6446481144);
}
#app .container .r10 .s18 {
  -webkit-transform: rotate(246.3000791467deg) translate3d(0, 70.2649745431px, 0) scaleY(0.7026497454);
          transform: rotate(246.3000791467deg) translate3d(0, 70.2649745431px, 0) scaleY(0.7026497454);
}
#app .container .r10 .s19 {
  -webkit-transform: rotate(263.8733100114deg) translate3d(0, 70.8438380344px, 0) scaleY(0.7084383803);
          transform: rotate(263.8733100114deg) translate3d(0, 70.8438380344px, 0) scaleY(0.7084383803);
}
#app .container .r10 .s20 {
  -webkit-transform: rotate(282.4288001284deg) translate3d(0, 65.3812372049px, 0) scaleY(0.653812372);
          transform: rotate(282.4288001284deg) translate3d(0, 65.3812372049px, 0) scaleY(0.653812372);
}
#app .container .r10 .s21 {
  -webkit-transform: rotate(299.2293322972deg) translate3d(0, 95.785611165px, 0) scaleY(0.9578561116);
          transform: rotate(299.2293322972deg) translate3d(0, 95.785611165px, 0) scaleY(0.9578561116);
}
#app .container .r10 .s22 {
  -webkit-transform: rotate(310.7459449631deg) translate3d(0, 73.6122462113px, 0) scaleY(0.7361224621);
          transform: rotate(310.7459449631deg) translate3d(0, 73.6122462113px, 0) scaleY(0.7361224621);
}
#app .container .r10 .s23 {
  -webkit-transform: rotate(324.1086957198deg) translate3d(0, 66.0264129868px, 0) scaleY(0.6602641299);
          transform: rotate(324.1086957198deg) translate3d(0, 66.0264129868px, 0) scaleY(0.6602641299);
}
#app .container .r10 .s24 {
  -webkit-transform: rotate(341.3842104968deg) translate3d(0, 62.8530398708px, 0) scaleY(0.6285303987);
          transform: rotate(341.3842104968deg) translate3d(0, 62.8530398708px, 0) scaleY(0.6285303987);
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 1;
  }
}

@keyframes ring {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */