@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #684595;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.microphone {
    position: relative;
    width: 100px;
    height: 100px;
    label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    .circle {
        fill: none;
        stroke: #fff;
        stroke-width: 3;
        stroke-linecap: round;
        transform-origin: 50% 50%;
    }
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 40px;
        svg {
            fill: #fff;
        }
    }
}
input {
    display: none;
    &:checked + .microphone {
        .circle {
            animation: circle 5s linear infinite;
        }
    }
}
@keyframes circle {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 296 296;
        transform: rotate(0deg);
    }
    100% {
        stroke-dashoffset: (-296 * 2);
        stroke-dasharray: 296 296;
        transform: rotate(360deg);
    }
}


