@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Noto Sans TC", sans-serif;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.2;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdca31), to(#fda231));
  background: linear-gradient(#fdca31 0%, #fda231 100%);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#app .todo {
  width: 60%;
  background-color: #fff;
  color: #777;
  padding: 24px;
}
#app h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 4px;
}
#app p {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 0 24px;
}
#app ul {
  border-top: 1px solid #ddd;
  padding: 24px 0 0;
  margin: 0;
  list-style: none;
}
#app li {
  font-size: 1.4rem;
  margin: 0 0 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#app li:last-child {
  margin: 0;
}
#app input {
  display: none;
}
#app input:checked ~ label {
  opacity: 0.5;
}
#app input:checked ~ .dot {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
}
#app input:checked ~ .check {
  opacity: 0.5;
}
#app input:checked ~ .check::before {
  width: 8px;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
#app input:checked ~ .check::after {
  width: 12px;
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}
#app label {
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#app .dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #777;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
#app .check {
  position: absolute;
  top: 3px;
  right: 0;
  width: 14px;
  height: 14px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#app .check::before, #app .check::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #777;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#app .check::before {
  width: 0px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}
#app .check::after {
  width: 0px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 6px;
  left: 4px;
}/*# sourceMappingURL=index.css.map */