@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
$googleFonts: 'Noto Sans TC', sans-serif;
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: $googleFonts;
    font-size: 10px;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #4c4c4c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flat {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #242424;
    box-shadow: 0 0 0 7px #3a3a3a;
    position: relative;
    overflow: hidden;
    .pots {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        div {
            width: 1px;
            height: 50%;
            position: absolute;
            top: 0;
            left: 50%;
            transform-origin: center bottom;
            &::after {
                content: '';
                display: block;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 12px;
            }
        }
        @for $i from 1 through 60 {
            .p#{$i} {
                transform: translateX(-50%) rotate($i * 6deg);
            }
        }
    }
    .txt {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            line-height: 1;
        }
        .date {
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 2px;
        }
        .time {
            font-size: 4rem;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 54%;
            font-size: 1.2rem;
            font-weight: 100;
        }
        .heart {
            display: flex;
            align-items: center;
            svg {
                width: 12px;
                fill: red;
                margin-right: 4px;
                animation: heart linear 0.5s infinite alternate;
            }
            span {
                transform: translateY(-2px);
            }
        }
    }
}

@keyframes heart {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}
