@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #1f91dd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
@for $i from 1 through 18 {
    $degree: calc(180 / 18) * ($i - 1);
    .e#{$i} {
        animation: e#{$i} 5s ease-in-out infinite;
    }
    @keyframes e#{$i} {
        0% {
            transform: translate(-50%, -50%) rotate(($degree) + deg);
            border-radius: 50%;
            border-width: 1px;
        }
        50% {
            transform: translate(-50%, -50%) rotate(0deg) scaleX(3.5);
            border-radius: 0%;
        }
        100% {
            transform: translate(-50%, -50%) rotate(((-1 * $degree) + 360) + deg);
            border-radius: 50%;
            border-width: 1px;
        }
    }
}
