@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #42a7a1;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 70%;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  overflow: hidden;
}
.card .title {
  background-color: #f1ba64;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}
.card .title .right p:first-child {
  font-weight: 300;
}
.card .title p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.card .title p.date {
  font-size: 1.4rem;
  font-weight: 300;
}
.card .title p.revenue {
  margin-left: -1rem;
}
.card .title p.revenue::before {
  content: "$";
  display: inline-block;
  margin-right: 2px;
}
.card .tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 12px 0;
}
.card .tips span {
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .tips span::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 3px;
  margin-right: 8px;
}
.card .tips span:first-child::before {
  background-color: #fa7373;
}
.card .tips span:last-child::before {
  background-color: #7ba2ff;
}
.card .chart {
  position: relative;
  height: 80px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.card .chart .line {
  width: 100%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.card .chart .point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}
.card .chart .point:hover span {
  top: 0;
  opacity: 1;
}
.card .chart span {
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  -webkit-transform: translate(-40%, -131%);
          transform: translate(-40%, -131%);
  z-index: 2;
  padding: 6px;
  border-radius: 2px;
  -webkit-transition: top 0.5s, opacity 0.5s;
  transition: top 0.5s, opacity 0.5s;
  pointer-events: none;
}
.card .chart span::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-color: inherit;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 2px) rotate(45deg);
          transform: translate(-50%, 2px) rotate(45deg);
}
.card .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.card .chart .viewData {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.card .chart .viewData .point,
.card .chart .viewData span {
  background-color: #fa7373;
}
.card .chart .viewData .p1 {
  left: 17px;
  top: 41px;
}
.card .chart .viewData .p2 {
  left: 56px;
  top: 12px;
}
.card .chart .viewData .p3 {
  left: 95px;
  top: 19px;
}
.card .chart .viewData .p4 {
  left: 136px;
  top: 7px;
}
.card .chart .viewData .p5 {
  left: 176px;
  top: 31px;
}
.card .chart .viewData .p6 {
  left: 216px;
  top: 42px;
}
.card .chart .viewData .p7 {
  left: 256px;
  top: 15px;
}
.card .chart .purchasesData {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
}
.card .chart .purchasesData .point,
.card .chart .purchasesData span {
  background-color: #7ba2ff;
}
.card .chart .purchasesData .p1 {
  left: 17px;
  top: 16px;
}
.card .chart .purchasesData .p2 {
  left: 56px;
  top: 8px;
}
.card .chart .purchasesData .p3 {
  left: 95px;
  top: 21px;
}
.card .chart .purchasesData .p4 {
  left: 136px;
  top: 15px;
}
.card .chart .purchasesData .p5 {
  left: 176px;
  top: 21px;
}
.card .chart .purchasesData .p6 {
  left: 216px;
  top: 30px;
}
.card .chart .purchasesData .p7 {
  left: 256px;
  top: 20px;
}
.card .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 12px;
}
.card .days span {
  font-size: 1.3rem;
  font-weight: 300;
  color: #888;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}/*# sourceMappingURL=index.css.map */