@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(#1d4253 0%, #6bb5c4 100%);
    position: relative;
    overflow: hidden;
    .star {
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: #fff;
        @for $i from 1 through 300 {
            &.s#{$i} {
                top: random(300) + px;
                left: random(300) + px;
                animation: flicker (calc((random(10) + 10) / 5)) + s (calc(random(10) / (-5))) + s infinite alternate;
            }
        }
    }
    .meteor {
        position: absolute;
        top: 0;
        left: -120px;
        width: 120px;
        height: 2px;
        border-radius: 50%;
        background: linear-gradient(-90deg, #fff 0%, #fff 10%, rgba(255, 255, 255, 0) 100%);
        transform: rotate(24deg);
        @for $i from 1 through 6 {
            &.m#{$i} {
                top: calc(random(100) - 30) + px;
                animation: move calc(random(2) + 3) + s calc(random(400) / 10) + s infinite;
            }
        }
    }
}
@keyframes flicker {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
@keyframes move {
    0% {
        transform: translate(0, 0) rotate(24deg);
    }
    100% {
        transform: translate(600px, 350px) rotate(24deg);
    }
}
