@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient( #1d4253 0%, #6bb5c4 100%);
    position: relative;
    .star {
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: #fff;
    }
    @for $i from 1 through 300 {
        .s#{$i} {
            top: random(300) + px;
            left: random(300) + px;
            animation: flicker (calc((random(10) + 10) / 5))+s (calc(random(10) / (-5)))+s infinite alternate;
        }
    }
}
@keyframes flicker {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}