@charset 'UTF-8';
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #9b59b6;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    .floor {
        height: 130px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #49627c;
    }
    $speed: 3s;
    $ease-out: cubic-bezier(0,0,.38,1);
    $ease-in: cubic-bezier(.38,0,1,1);
    .ballMove {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 230px;
        left: 400px;
        animation: move $speed ease-out infinite;
        .ballUp {
            animation: up $speed $ease-out infinite;
        }
        .ballDown {
            animation: down $speed $ease-in infinite;
        }
        .ball {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            animation: ball $speed $ease-in infinite;
        }
    }
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-460px);
    }
}

@keyframes up {
    0%,
    20% {
        transform: translateY(0);
    }
    35%,
    50% {
        transform: translateY(-105px);
    }
    65%,
    80% {
        transform: translateY(-168px);
    }
    90%,
    100% {
        transform: translateY(-190px);
    }
}

@keyframes down {
    0% {
        transform: translateY(-200px);
    }
    20%,
    35% {
        transform: translateY(0);
    }
    50%,
    65% {
        transform: translateY(105px);
    }
    80%,
    95% {
        transform: translateY(168px);
    }
    100% {
        transform: translateY(190px);
    }
}

@keyframes ball {
    0%,
    19%,
    25%,
    49%,
    55%,
    79%,
    85%,
    100% {
        transform: scale(1);
    }
    20%,
    80%,
    50%,
    80% {
        transform: scale(1.1, 0.9);
    }
}
