*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  width: 100%;
  height: 400px;
  max-width: 400px;
  background-color: #d33526;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ball {
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-25deg);
          transform: rotateX(-25deg);
}
.ball .circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #d33526;
  opacity: 1;
}
.ball .circle.c1 {
  width: 198px;
  height: 198px;
  top: 1px;
  left: 50%;
  -webkit-transform: translateY(14.5px) translateX(-99px) rotateX(90deg);
          transform: translateY(14.5px) translateX(-99px) rotateX(90deg);
}
.ball .circle.c2 {
  width: 192px;
  height: 192px;
  top: 4px;
  left: 50%;
  -webkit-transform: translateY(28px) translateX(-96px) rotateX(90deg);
          transform: translateY(28px) translateX(-96px) rotateX(90deg);
}
.ball .circle.c3 {
  width: 182px;
  height: 182px;
  top: 9px;
  left: 50%;
  -webkit-transform: translateY(40.5px) translateX(-91px) rotateX(90deg);
          transform: translateY(40.5px) translateX(-91px) rotateX(90deg);
}
.ball .circle.c4 {
  width: 168px;
  height: 168px;
  top: 16px;
  left: 50%;
  -webkit-transform: translateY(52px) translateX(-84px) rotateX(90deg);
          transform: translateY(52px) translateX(-84px) rotateX(90deg);
}
.ball .circle.c5 {
  width: 150px;
  height: 150px;
  top: 25px;
  left: 50%;
  -webkit-transform: translateY(62.5px) translateX(-75px) rotateX(90deg);
          transform: translateY(62.5px) translateX(-75px) rotateX(90deg);
}
.ball .circle.c6 {
  width: 128px;
  height: 128px;
  top: 36px;
  left: 50%;
  -webkit-transform: translateY(72px) translateX(-64px) rotateX(90deg);
          transform: translateY(72px) translateX(-64px) rotateX(90deg);
}
.ball .circle.c7 {
  width: 102px;
  height: 102px;
  top: 49px;
  left: 50%;
  -webkit-transform: translateY(80.5px) translateX(-51px) rotateX(90deg);
          transform: translateY(80.5px) translateX(-51px) rotateX(90deg);
}
.ball .circle.c8 {
  width: 72px;
  height: 72px;
  top: 64px;
  left: 50%;
  -webkit-transform: translateY(88px) translateX(-36px) rotateX(90deg);
          transform: translateY(88px) translateX(-36px) rotateX(90deg);
}
.ball .circle.c9 {
  width: 38px;
  height: 38px;
  top: 81px;
  left: 50%;
  -webkit-transform: translateY(94.5px) translateX(-19px) rotateX(90deg);
          transform: translateY(94.5px) translateX(-19px) rotateX(90deg);
}
.ball .circle.c10 {
  width: 198px;
  height: 198px;
  top: 1px;
  left: 50%;
  -webkit-transform: translateY(-14.5px) translateX(-99px) rotateX(90deg);
          transform: translateY(-14.5px) translateX(-99px) rotateX(90deg);
}
.ball .circle.c11 {
  width: 192px;
  height: 192px;
  top: 4px;
  left: 50%;
  -webkit-transform: translateY(-28px) translateX(-96px) rotateX(90deg);
          transform: translateY(-28px) translateX(-96px) rotateX(90deg);
}
.ball .circle.c12 {
  width: 182px;
  height: 182px;
  top: 9px;
  left: 50%;
  -webkit-transform: translateY(-40.5px) translateX(-91px) rotateX(90deg);
          transform: translateY(-40.5px) translateX(-91px) rotateX(90deg);
}
.ball .circle.c13 {
  width: 168px;
  height: 168px;
  top: 16px;
  left: 50%;
  -webkit-transform: translateY(-52px) translateX(-84px) rotateX(90deg);
          transform: translateY(-52px) translateX(-84px) rotateX(90deg);
}
.ball .circle.c14 {
  width: 150px;
  height: 150px;
  top: 25px;
  left: 50%;
  -webkit-transform: translateY(-62.5px) translateX(-75px) rotateX(90deg);
          transform: translateY(-62.5px) translateX(-75px) rotateX(90deg);
}
.ball .circle.c15 {
  width: 128px;
  height: 128px;
  top: 36px;
  left: 50%;
  -webkit-transform: translateY(-72px) translateX(-64px) rotateX(90deg);
          transform: translateY(-72px) translateX(-64px) rotateX(90deg);
}
.ball .circle.c16 {
  width: 102px;
  height: 102px;
  top: 49px;
  left: 50%;
  -webkit-transform: translateY(-80.5px) translateX(-51px) rotateX(90deg);
          transform: translateY(-80.5px) translateX(-51px) rotateX(90deg);
}
.ball .circle.c17 {
  width: 72px;
  height: 72px;
  top: 64px;
  left: 50%;
  -webkit-transform: translateY(-88px) translateX(-36px) rotateX(90deg);
          transform: translateY(-88px) translateX(-36px) rotateX(90deg);
}
.ball .circle.c18 {
  width: 38px;
  height: 38px;
  top: 81px;
  left: 50%;
  -webkit-transform: translateY(-94.5px) translateX(-19px) rotateX(90deg);
          transform: translateY(-94.5px) translateX(-19px) rotateX(90deg);
}
.ball .circle.c19 {
  width: 0px;
  height: 0px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateY(-100px) translateX(0px) rotateX(90deg);
          transform: translateY(-100px) translateX(0px) rotateX(90deg);
}
.ball .circle.c19 {
  width: 200px;
  height: 200px;
  left: 0;
  top: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}/*# sourceMappingURL=index.css.map */