@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
main {
    display: block;
}
img {
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #42a7a1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 70%;
    height: 70%;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    .title {
        background-color: #f1ba64;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        .right p:first-child {
            font-weight: 300;
        }
        p {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2;
            &.date {
                font-size: 1.4rem;
                font-weight: 300;
            }
            &.revenue {
                margin-left: -1rem;
                &::before {
                    content: '$';
                    display: inline-block;
                    margin-right: 2px;
                }
            }
        }
    }
}
